<div class="flex flex-col gap-2 overflow-y-scroll">
  <div class="bg-white px-6 pt-10">
    <div class="mx-auto max-w-2xl text-center">
      <p class="text-gray-600 animate-fade-up text-base font-thin leading-7 animate-delay-100 animate-duration-500">
        {{ version }}
      </p>
      <h2
        class="green-gradient animate-fade-up bg-clip-text py-2 text-5xl font-bold tracking-tight text-transparent animate-delay-200 animate-duration-500"
      >
        Digital Awareness
      </h2>
      <p class="text-gray-600 mt-2 animate-fade-up text-lg leading-8 animate-delay-300 animate-duration-500">
        Made with <span class="text-red-500">❤</span> by
        <a
          href="https://github.com/MatthewDlr"
          target="_blank"
          class="text-indigo-600 hover:text-purple-500 hover:underline"
        >
          Matthieu Delarue
        </a>
      </p>
    </div>
  </div>

  <!-- Divider -->
  <div class="relative mt-16 animate-fade-up animate-delay-500 animate-duration-500">
    <div class="absolute inset-0 flex items-center" aria-hidden="true">
      <div class="border-gray-300 w-full border-t"></div>
    </div>
    <div class="relative flex justify-center">
      <span class="bg-white text-gray-500 px-2 text-sm"></span>
    </div>
  </div>

  <div
    class="bg-gray-800 relative mt-16 max-h-60 animate-fade-up rounded-xl px-12 py-12 animate-delay-700 animate-duration-500"
  >
    <div class="absolute inset-0 overflow-hidden">
      <img
        src="https://images.unsplash.com/photo-1517048676732-d65bc937f952?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="h-full w-full rounded-xl object-cover object-center"
      />
    </div>
    <div aria-hidden="true" class="bg-white absolute inset-0 bg-opacity-80"></div>
    <div class="relative mx-auto flex max-w-3xl flex-col items-center text-center">
      <h2 class="text-black text-2xl font-bold tracking-tight">Digital Awareness is an open-source project</h2>
      <p class="text-black mt-3 text-balance text-base font-normal">
        Help the extension become the best version of itself by giving your feedback, reporting bugs or developing your own
        features.
      </p>
      <div class="my-5 flex gap-10">
        <a
          href="https://github.com/MatthewDlr/Digital-Awareness/issues/new/choose"
          target="_blank"
          class="hover-animation duration-400 text-white bg-gray-900 inline-block w-fit !transform rounded-md border border-transparent px-8 py-3 font-medium !transition-all ease-out hover:scale-105 hover:rounded-xl"
        >
          Submit feedback
        </a>
      </div>
    </div>
  </div>
</div>
