<div class="flex flex-col gap-2 overflow-y-scroll">
  <div class="bg-white px-6 pt-10">
    <div class="mx-auto max-w-2xl text-center">
      <p class="text-gray-600 text-base font-thin leading-7">v1.0.0</p>
      <h2 class="green-gradient bg-clip-text py-2 text-5xl font-bold tracking-tight text-transparent">
        Digital Awareness
      </h2>
      <p class="text-gray-600 mt-2 text-lg leading-8">
        Made with <span class="text-red-500">❤</span> by
        <a
          href="https://github.com/MatthewDlr"
          target="_blank"
          class="text-indigo-600 hover:text-purple-500 hover:underline"
        >
          Matthieu Delarue
        </a>
      </p>
    </div>
  </div>

  <!-- Divider -->
  <div class="relative mt-16">
    <div class="absolute inset-0 flex items-center" aria-hidden="true">
      <div class="border-gray-300 w-full border-t"></div>
    </div>
    <div class="relative flex justify-center">
      <span class="bg-white text-gray-500 px-2 text-sm"></span>
    </div>
  </div>

  <div class="bg-gray-800 relative mt-16 rounded-xl px-12 max-h-60 py-14">
    <div class="absolute inset-0 overflow-hidden">
      <img
        src="https://images.unsplash.com/photo-1517048676732-d65bc937f952?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="h-full w-full object-cover object-center rounded-xl"
      />
    </div>
    <div aria-hidden="true" class="bg-white absolute inset-0 bg-opacity-80"></div>
    <div class="relative mx-auto flex max-w-3xl flex-col items-center text-center">
      <h2 class="text-black text-2xl font-bold tracking-tight">
        Digital Awareness also wants to be the best version of itself
      </h2>
      <p class="text-black font-normal mt-3 text-base">
        Help improve the extension by giving us your feedback and support development.
      </p>
      <div class="flex gap-5 mt-3">
        <a
          href="https://github.com/MatthewDlr/Digital-Awareness/issues/new"
          target="_blank"
          class="text-white bg-gray-900 mt-6 inline-block w-fit rounded-md border border-transparent px-8 py-3 font-medium !transition-all hover:bg-gray-800 hover:scale-105"
        >
          Submitt feedback
        </a>
        <a
          href="https://patreon.com/DigitalAwareness?utm_medium=clipboard_copy&utm_source=copyLink&utm_campaign=creatorshare_creator&utm_content=join_link"
          target="_blank"
          class="text-white bg-gray-900 mt-6 inline-block w-fit rounded-md border border-transparent px-8 py-3 font-medium !transition-all hover:bg-gray-800 hover:scale-105"
        >
          Support Project
        </a>
      </div>
    </div>
  </div>
</div>
