<div class="flex flex-col gap-2 overflow-y-scroll">
  <div class="bg-white px-6 pt-10">
    <div class="mx-auto max-w-2xl text-center">
      <p class="text-gray-600 text-base font-thin leading-7">v1.0.0</p>
      <h2 class="green-gradient bg-clip-text py-2 text-5xl font-bold tracking-tight text-transparent">
        Digital Awareness
      </h2>
      <p class="text-gray-600 mt-2 text-lg leading-8">
        Made with <span class="text-red-500">❤</span> by
        <a
          href="https://github.com/MatthewDlr"
          target="_blank"
          class="text-indigo-600 hover:text-purple-500 hover:underline"
        >
          Matthieu Delarue
        </a>
      </p>
    </div>
  </div>

  <!-- Divider -->
  <div class="relative mt-16">
    <div class="absolute inset-0 flex items-center" aria-hidden="true">
      <div class="border-gray-300 w-full border-t"></div>
    </div>
    <div class="relative flex justify-center">
      <span class="bg-white text-gray-500 px-2 text-sm"></span>
    </div>
  </div>

  <div>
    <!-- Decorative background image and gradient -->
    <div class="absolute inset-0 mt-[34rem]">
      <div class="mx-auto max-w-7xl overflow-hidden xl:px-8">
        <img
          src="https://images.unsplash.com/photo-1517048676732-d65bc937f952?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
          class="h-full max-h-56 w-full rounded-xl object-cover object-center"
        />
      </div>
      <div class="bg-white absolute inset-0 bg-opacity-75"></div>
      <div class="absolute inset-0 bg-gradient-to-t from-white via-white/50 dark:from-black dark:via-black/50"></div>
    </div>

    <!-- Callout -->
    <section class="relative mx-auto flex max-w-7xl flex-col items-center pt-24 text-center sm:px-6 lg:px-8 z-10">
      <div class="mx-auto my-2 max-w-2xl lg:max-w-none">
        <h2 class="text-gray-900 text-xl font-bold tracking-tight">
          Digital Awareness also wants to be the best version of itself
        </h2>
        <p class="text-gray-600 mx-auto mt-2 max-w-2xl text-base font-normal">
          Help improve the extension by giving us your feedback and support development.
        </p>
        <div class="flex w-full justify-center gap-5">
          <a
            href="https://github.com/MatthewDlr/Digital-Awareness/issues/new"
            target="_blank"
            class="text-white bg-gray-900 mt-6 inline-block w-fit rounded-md border border-transparent px-8 py-3 font-medium !transition-all hover:bg-gray-800 hover:scale-105"
          >
            Submitt feedback
          </a>
          <a
            href="https://patreon.com/DigitalAwareness?utm_medium=clipboard_copy&utm_source=copyLink&utm_campaign=creatorshare_creator&utm_content=join_link"
            target="_blank"
            class="text-white bg-gray-900 mt-6 inline-block w-fit rounded-md border border-transparent px-8 py-3 font-medium !transition-all hover:bg-gray-800 hover:scale-105"
          >
            Support
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
