@if (!isSetupCompleted) {
  <div class="blue-gradient flex h-fit flex-row items-center gap-4 rounded-xl px-4 py-3 ">
    <!-- SVG animation -->
    <svg
      id="85:19"
      viewBox="0 0 30 30"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      class="size-16"
    >
      <g transform="matrix(1,0,0,1,0,0)">
        <g id="85:19" opacity="1" style="mix-blend-mode: normal">
          <g>
            <defs>
              <clipPath id="85:19_clipPath" x="-50%" y="-50%" width="200%" height="200%">
                <path d="M0,0h30v0v30v0h-30v0v-30z" fill="white" clip-rule="nonzero"></path>
              </clipPath>
            </defs>
            <g clip-path="url(#85:19_clipPath)">
              <g
                transform="matrix(0.7071067811865476,0.7071067811865475,-0.7071067811865475,0.7071067811865476,12,5.4540584539816095)"
              >
                <g id="85:20" opacity="0" style="mix-blend-mode: normal">
                  <g>
                    <g>
                      <g style="mix-blend-mode: NORMAL">
                        <g>
                          <path
                            id="85:20_stroke_path"
                            d="M7.563,10.654l-0.813,2.846l-0.813,-2.846c-0.21013,-0.73514 -0.6041,-1.40462 -1.14474,-1.94526c-0.54064,-0.54064 -1.21012,-0.93461 -1.94526,-1.14474l-2.847,-0.814l2.846,-0.813c0.73514,-0.21013 1.40462,-0.6041 1.94526,-1.14474c0.54064,-0.54064 0.93461,-1.21012 1.14474,-1.94526l0.814,-2.847l0.813,2.846c0.21013,0.73514 0.6041,1.40462 1.14474,1.94526c0.54064,0.54064 1.21012,0.93461 1.94526,1.14474l2.847,0.814l-2.846,0.813c-0.73514,0.21013 -1.40462,0.6041 -1.94526,1.14474c-0.54064,0.54064 -0.93461,1.21012 -1.14474,1.94526z"
                            fill="none"
                            class="stroke-white"
                            stroke-width="1.25"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-dasharray="0 0"
                            stroke-opacity="1"
                          ></path>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
              <g
                transform="matrix(0.7071067811865476,0.7071067811865475,-0.7071067811865475,0.7071067811865476,21,3.6966991411008934)"
              >
                <g id="85:21" opacity="0" style="mix-blend-mode: normal">
                  <g>
                    <g>
                      <g style="mix-blend-mode: NORMAL">
                        <g>
                          <path
                            id="85:21_stroke_path"
                            d="M4.009,6.465l-0.259,1.035l-0.259,-1.035c-0.14825,-0.59341 -0.45498,-1.13538 -0.88739,-1.56797c-0.43241,-0.43259 -0.97426,-0.73954 -1.56761,-0.88803l-1.036,-0.259l1.036,-0.259c0.59335,-0.14849 1.1352,-0.45544 1.56761,-0.88803c0.43241,-0.43259 0.73914,-0.97456 0.88739,-1.56797l0.259,-1.035l0.259,1.035c0.14833,0.59354 0.45521,1.13559 0.88781,1.56819c0.4326,0.4326 0.97465,0.73948 1.56819,0.88781l1.035,0.259l-1.035,0.259c-0.59354,0.14833 -1.13559,0.45521 -1.56819,0.88781c-0.4326,0.4326 -0.73948,0.97465 -0.88781,1.56819z"
                            fill="none"
                            class="stroke-white"
                            stroke-width="1.25"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-dasharray="0 0"
                            stroke-opacity="1"
                          ></path>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
              <g
                transform="matrix(0.7071067811865476,0.7071067811865475,-0.7071067811865475,0.7071067811865476,19.5,17.507359312880716)"
              >
                <g id="85:22" opacity="0" style="mix-blend-mode: normal">
                  <g>
                    <g>
                      <g style="mix-blend-mode: NORMAL">
                        <g>
                          <path
                            id="85:22_stroke_path"
                            d="M3.394,4.817l-0.394,1.183l-0.394,-1.183c-0.11046,-0.33137 -0.29655,-0.63247 -0.54354,-0.87946c-0.24699,-0.24699 -0.54809,-0.43308 -0.87946,-0.54354l-1.183,-0.394l1.183,-0.394c0.33137,-0.11046 0.63247,-0.29655 0.87946,-0.54354c0.24699,-0.24699 0.43308,-0.54809 0.54354,-0.87946l0.394,-1.183l0.394,1.183c0.11046,0.33137 0.29655,0.63247 0.54354,0.87946c0.24699,0.24699 0.54809,0.43308 0.87946,0.54354l1.183,0.394l-1.183,0.394c-0.33137,0.11046 -0.63247,0.29655 -0.87946,0.54354c-0.24699,0.24699 -0.43308,0.54809 -0.54354,0.87946z"
                            fill="none"
                            class="stroke-white"
                            stroke-width="1.25"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-dasharray="0 0"
                            stroke-opacity="1"
                          ></path>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
      <animateTransform
        href="#85:20"
        attributeName="transform"
        type="rotate"
        values="0 6.75 6.75;-45 6.75 6.75;-45 6.75 6.75;-15 6.75 6.75;-65 6.75 6.75;-35 6.75 6.75;-50 6.75 6.75;-45 6.75 6.75;-45 6.75 6.75;-90 6.75 6.75;-90 6.75 6.75"
        dur="10s"
        repeatCount="indefinite"
        calcMode="spline"
        keyTimes="0;0.12;0.26;0.3;0.34;0.38;0.42;0.46;0.69;0.82;1"
        keySplines="0.5 0 0.0095 0.9952;0.5 0.35 0.5 1;0.5 0 0.15 1;0.5 0 0.15 1;0.5 0 0.15 1;0.5 0 0.15 1;0.5 0 0.15 1;0.5 0 0.5 1;0.5 0 1 1;0.5 0 1 1"
        additive="sum"
        fill="freeze"
      ></animateTransform>
      <animateTransform
        href="#85:20"
        attributeName="transform"
        type="translate"
        values="6.75 6.75;6.75 6.75;6.75 6.75;6.75 6.75;6.75 6.75"
        dur="10s"
        repeatCount="indefinite"
        calcMode="spline"
        keyTimes="0;0.12;0.69;0.82;1"
        keySplines="0.5 0 0.0095 0.9952;0.5 0.35 0.5 1;0.5 0 1 1;0.5 0 1 1"
        additive="sum"
        fill="freeze"
      ></animateTransform>
      <animateTransform
        href="#85:20"
        attributeName="transform"
        type="scale"
        values="1.75 1.75;1 1;1 1;1.75 1.75;1.75 1.75"
        dur="10s"
        repeatCount="indefinite"
        calcMode="spline"
        keyTimes="0;0.12;0.69;0.82;1"
        keySplines="0.5 0 0.0095 0.9952;0.5 0.35 0.5 1;0.5 0 1 1;0.5 0 1 1"
        additive="sum"
        fill="freeze"
      ></animateTransform>
      <animateTransform
        href="#85:20"
        attributeName="transform"
        type="translate"
        values="-6.75 -6.75;-6.75 -6.75;-6.75 -6.75;-6.75 -6.75;-6.75 -6.75"
        dur="10s"
        repeatCount="indefinite"
        calcMode="spline"
        keyTimes="0;0.12;0.69;0.82;1"
        keySplines="0.5 0 0.0095 0.9952;0.5 0.35 0.5 1;0.5 0 1 1;0.5 0 1 1"
        additive="sum"
        fill="freeze"
      ></animateTransform>
      <animate
        href="#85:20"
        attributeName="opacity"
        values="0;1;1;0;0"
        dur="10s"
        repeatCount="indefinite"
        calcMode="spline"
        keyTimes="0;0.12;0.69;0.82;1"
        keySplines="0.5 0 0.0095 0.9952;0.5 0.35 0.5 1;0.5 0 1 1;0.5 0 1 1"
        additive="replace"
        fill="freeze"
      ></animate>
      <animateTransform
        href="#85:21"
        attributeName="transform"
        type="rotate"
        values="0 3.75 3.75;0 3.75 3.75;-45 3.75 3.75;-45 3.75 3.75;-15 3.75 3.75;-65 3.75 3.75;-35 3.75 3.75;-50 3.75 3.75;-45 3.75 3.75;-45 3.75 3.75;-90 3.75 3.75;-90 3.75 3.75"
        dur="10s"
        repeatCount="indefinite"
        calcMode="spline"
        keyTimes="0;0.03;0.15;0.3;0.34;0.37;0.41;0.45;0.49;0.7;0.83;1"
        keySplines="0.5 0 0.15 1;0.5 0 0.0095 0.9952;0.5 0.35 0.5 1;0.5 0 0.15 1;0.5 0 0.15 1;0.5 0 0.15 1;0.5 0 0.15 1;0.5 0 0.15 1;0.5 0 0.5 1;0.5 0 1 1;0.5 0 1 1"
        additive="sum"
        fill="freeze"
      ></animateTransform>
      <animateTransform
        href="#85:21"
        attributeName="transform"
        type="translate"
        values="3.75 3.75;3.75 3.75;3.75 3.75;3.75 3.75;3.75 3.75;3.75 3.75"
        dur="10s"
        repeatCount="indefinite"
        calcMode="spline"
        keyTimes="0;0.03;0.15;0.7;0.83;1"
        keySplines="0.5 0 0.15 1;0.5 0 0.0095 0.9952;0.5 0.35 0.5 1;0.5 0 1 1;0.5 0 1 1"
        additive="sum"
        fill="freeze"
      ></animateTransform>
      <animateTransform
        href="#85:21"
        attributeName="transform"
        type="scale"
        values="1.75 1.75;1.75 1.75;1 1;1 1;1.75 1.75;1.75 1.75"
        dur="10s"
        repeatCount="indefinite"
        calcMode="spline"
        keyTimes="0;0.03;0.15;0.7;0.83;1"
        keySplines="0.5 0 0.15 1;0.5 0 0.0095 0.9952;0.5 0.35 0.5 1;0.5 0 1 1;0.5 0 1 1"
        additive="sum"
        fill="freeze"
      ></animateTransform>
      <animateTransform
        href="#85:21"
        attributeName="transform"
        type="translate"
        values="-3.75 -3.75;-3.75 -3.75;-3.75 -3.75;-3.75 -3.75;-3.75 -3.75;-3.75 -3.75"
        dur="10s"
        repeatCount="indefinite"
        calcMode="spline"
        keyTimes="0;0.03;0.15;0.7;0.83;1"
        keySplines="0.5 0 0.15 1;0.5 0 0.0095 0.9952;0.5 0.35 0.5 1;0.5 0 1 1;0.5 0 1 1"
        additive="sum"
        fill="freeze"
      ></animateTransform>
      <animate
        href="#85:21"
        attributeName="opacity"
        values="0;0;1;1;0;0"
        dur="10s"
        repeatCount="indefinite"
        calcMode="spline"
        keyTimes="0;0.03;0.15;0.7;0.83;1"
        keySplines="0.5 0 0.15 1;0.5 0 0.0095 0.9952;0.5 0.35 0.5 1;0.5 0 1 1;0.5 0 1 1"
        additive="replace"
        fill="freeze"
      ></animate>
      <animateTransform
        href="#85:22"
        attributeName="transform"
        type="rotate"
        values="0 3 3;0 3 3;-45 3 3;-45 3 3;-15 3 3;-65 3 3;-35 3 3;-50 3 3;-45 3 3;-45 3 3;-90 3 3;-90 3 3"
        dur="10s"
        repeatCount="indefinite"
        calcMode="spline"
        keyTimes="0;0.06;0.18;0.32;0.35;0.39;0.43;0.47;0.51;0.72;0.84;1"
        keySplines="0.5 0 0.15 1;0.5 0 0.0095 0.9952;0.5 0.35 0.5 1;0.5 0 0.15 1;0.5 0 0.15 1;0.5 0 0.15 1;0.5 0 0.15 1;0.5 0 0.15 1;0.5 0 0.5 1;0.5 0 1 1;0.5 0 1 1"
        additive="sum"
        fill="freeze"
      ></animateTransform>
      <animateTransform
        href="#85:22"
        attributeName="transform"
        type="translate"
        values="3 3;3 3;3 3;3 3;3 3;3 3"
        dur="10s"
        repeatCount="indefinite"
        calcMode="spline"
        keyTimes="0;0.06;0.18;0.72;0.84;1"
        keySplines="0.5 0 0.15 1;0.5 0 0.0095 0.9952;0.5 0.35 0.5 1;0.5 0 1 1;0.5 0 1 1"
        additive="sum"
        fill="freeze"
      ></animateTransform>
      <animateTransform
        href="#85:22"
        attributeName="transform"
        type="scale"
        values="1.75 1.75;1.75 1.75;1 1;1 1;1.75 1.75;1.75 1.75"
        dur="10s"
        repeatCount="indefinite"
        calcMode="spline"
        keyTimes="0;0.06;0.18;0.72;0.84;1"
        keySplines="0.5 0 0.15 1;0.5 0 0.0095 0.9952;0.5 0.35 0.5 1;0.5 0 1 1;0.5 0 1 1"
        additive="sum"
        fill="freeze"
      ></animateTransform>
      <animateTransform
        href="#85:22"
        attributeName="transform"
        type="translate"
        values="-3 -3;-3 -3;-3 -3;-3 -3;-3 -3;-3 -3"
        dur="10s"
        repeatCount="indefinite"
        calcMode="spline"
        keyTimes="0;0.06;0.18;0.72;0.84;1"
        keySplines="0.5 0 0.15 1;0.5 0 0.0095 0.9952;0.5 0.35 0.5 1;0.5 0 1 1;0.5 0 1 1"
        additive="sum"
        fill="freeze"
      ></animateTransform>
      <animate
        href="#85:22"
        attributeName="opacity"
        values="0;0;1;1;0;0"
        dur="10s"
        repeatCount="indefinite"
        calcMode="spline"
        keyTimes="0;0.06;0.18;0.72;0.84;1"
        keySplines="0.5 0 0.15 1;0.5 0 0.0095 0.9952;0.5 0.35 0.5 1;0.5 0 1 1;0.5 0 1 1"
        additive="replace"
        fill="freeze"
      ></animate>
    </svg>

    <!-- Right Part -->
    <div class="mr-[0.15rem] flex w-full items-center justify-between gap-3">
      <div class="w-3/4">
        <h3 class="text-white text-sm font-semibold">Finish Setup</h3>
        <div class="text-white text-balance text-sm">
          <span
            >To improve your experience, allow digital awareness to run in incognito mode. Rest assured, we do not track or store
            any of your web browsing history.</span
          >
        </div>
      </div>
      <div class="flex w-1/4 justify-end">
        <div class="flex gap-3">
          <button
            (click)="dismissSetup()"
            type="button"
            class="text-white rounded-md px-3 py-2 text-sm font-medium hover:bg-white/10"
          >
            No thanks
          </button>
          <button
            (click)="openExtensionSettings()"
            type="button"
            class="text-blue-600 !transform rounded-md bg-white/90 px-3 py-2 text-sm font-medium !transition-all hover:scale-110 hover:rounded-xl"
          >
            Enable
          </button>
        </div>
      </div>
    </div>
  </div>
}
