<!-- Page Widget -->
<fieldset class="mt-3">
  <legend class="text-gray-900 text-lg font-semibold leading-6">Page widget</legend>
  <legend class="font-base text-gray-800 text-sm">
    Choose the widget you want to display on the page
  </legend>

  <!-- Random -->
  <p
    class="fade-up fade-up-delay-100 bg-white relative mt-5 flex cursor-pointer rounded-lg border px-4 py-2 shadow-sm transition-all duration-300 ease-in-out focus:outline-none"
    [ngClass]="
      selectedWidget === 'Random'
        ? 'border-green-500 bg-green-50/75 dark:bg-green-900/50'
        : 'border-gray-300 hover:border-green-500 hover:bg-green-50/50 dark:hover:bg-green-900/50'
    "
    (click)="updateSelectedWidget('Random')"
    (keypress)="updateSelectedWidget('Random')"
    tabindex="0"
  >
    <span class="flex flex-1">
      <span class="flex w-full items-center justify-center gap-3">
        <span id="project-type-0-label" class="text-gray-900 block text-base font-medium"
          >Random</span
        >
        <span
          id="project-type-0-description-0"
          class="text-gray-500 mt-[0.15rem] flex items-center text-sm"
          >Display a random widget every time</span
        >
      </span>
    </span>
    <svg
      class="text-green-500 size-6"
      viewBox="0 0 20 20"
      fill="currentColor"
      aria-hidden="true"
      [ngClass]="selectedWidget === 'Random' ? 'visible' : 'invisible'"
    >
      <path
        fill-rule="evenodd"
        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
        clip-rule="evenodd"
      />
    </svg>
  </p>

  <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-3 sm:gap-x-4">
    <!-- Quotes -->
    <p
      class="fade-up fade-up-delay-200 bg-white relative flex cursor-pointer rounded-lg border px-4 py-3 shadow-sm transition-all duration-300 ease-in-out focus:outline-none"
      [ngClass]="
        selectedWidget === 'Quotes'
          ? 'border-green-500 bg-green-50/75 dark:bg-green-900/50'
          : 'border-gray-300 hover:border-green-500 hover:bg-green-50/50 dark:hover:bg-green-900/50'
      "
      (click)="updateSelectedWidget('Quotes')"
      (keypress)="updateSelectedWidget('Quotes')"
      tabindex="1"
    >
      <span class="flex flex-1">
        <span class="flex flex-col">
          <span id="project-type-0-label" class="text-gray-900 block text-base font-medium"
            >Quotes</span
          >
          <span
            id="project-type-0-description-0"
            class="text-gray-500 mt-1 flex items-center text-sm"
            >Display motivational quotes</span
          >
        </span>
      </span>
      <svg
        class="text-green-500 size-6"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
        [ngClass]="selectedWidget === 'Quotes' ? 'visible' : 'invisible'"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"
        />
      </svg>
    </p>

    <!-- Breathing -->
    <p
      class="fade-up fade-up-delay-300 bg-white relative flex cursor-pointer rounded-lg border px-4 py-3 shadow-sm !transition-all !duration-300 !ease-in-out focus:outline-none"
      (click)="updateSelectedWidget('Breathing')"
      (keypress)="updateSelectedWidget('Breathing')"
      tabindex="2"
      [ngClass]="
        selectedWidget === 'Breathing'
          ? 'border-green-500 bg-green-50/75 dark:bg-green-900/50'
          : 'border-gray-300 hover:border-green-500 hover:bg-green-50/50 dark:hover:bg-green-900/50'
      "
    >
      <span class="flex flex-1">
        <span class="flex flex-col">
          <span id="project-type-1-label" class="text-gray-900 block text-base font-medium"
            >Breathing</span
          >
          <span
            id="project-type-1-description-0"
            class="text-gray-500 mt-1 flex items-center text-sm"
            >Display breathing exercises</span
          >
        </span>
      </span>
      <svg
        class="text-green-500 size-6"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
        [ngClass]="selectedWidget === 'Breathing' ? 'visible' : 'invisible'"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"
        />
      </svg>
    </p>

    <!-- Tasks -->
    <p
      class="fade-up fade-up-delay-400 bg-white relative flex cursor-pointer rounded-lg border px-4 py-3 shadow-sm !transition-all !duration-300 !ease-in-out focus:outline-none"
      (click)="updateSelectedWidget('Tasks')"
      (keypress)="updateSelectedWidget('Tasks')"
      tabindex="3"
      [ngClass]="
        selectedWidget === 'Tasks'
          ? 'border-green-500 bg-green-50/75 dark:bg-green-900/50'
          : 'border-gray-300 hover:border-green-500 hover:bg-green-50/50 dark:hover:bg-green-900/50'
      "
    >
      <span class="flex flex-1">
        <span class="flex flex-col">
          <span id="project-type-2-label" class="text-gray-900 block text-base font-medium"
            >Tasks</span
          >
          <span
            id="project-type-2-description-0"
            class="text-gray-500 mt-1 flex items-center text-sm"
            >Display what you could be doing instead</span
          >
        </span>
      </span>
      @if (areTasksValid) {
        <svg
          class="text-green-500 size-6"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
          [ngClass]="selectedWidget === 'Tasks' ? 'visible' : 'invisible'"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"
          />
        </svg>
      }

      <span
        class="pointer-events-none absolute -inset-px rounded-lg border-2 hover:border"
        aria-hidden="true"
        [ngClass]="selectedWidget === 'Tasks' ? 'border-green-500' : 'border-transparent'"
      ></span>
    </p>
  </div>
</fieldset>

<!-- Tasks Details -->
@if (selectedWidget === "Tasks" || selectedWidget === "Random") {
  <div class="fade-up mt-4 flex flex-col gap-2">
    <legend class="text-gray-900 text-sm font-medium">
      Specify your tasks and the goals you want to achieve
    </legend>
    @defer {
      @if (!areTasksValid) {
        <p class="text-red-500 mt-2 text-sm">Fill out at least one task</p>
      }
      <input
        type="text"
        class="bg-white text-gray-900 block w-full rounded-md border bg-opacity-50 py-1.5 shadow-sm placeholder:text-gray-400 focus:ring-transparent sm:text-sm sm:leading-6"
        placeholder="Task 1"
        (blur)="updateTasks()"
        (input)="areAllTasksEmpty()"
        [ngClass]="!areTasksValid ? 'border-red-500' : 'border-gray-300 focus:border-purple-500'"
        [(ngModel)]="tasks[0]"
      />
      <input
        type="text"
        class="bg-white text-gray-900 block w-full rounded-md border bg-opacity-50 py-1.5 shadow-sm placeholder:text-gray-400 focus:ring-transparent sm:text-sm sm:leading-6"
        placeholder="Task 2"
        (blur)="updateTasks()"
        (input)="areAllTasksEmpty()"
        [ngClass]="!areTasksValid ? 'border-red-500' : 'border-gray-300 focus:border-purple-500'"
        [(ngModel)]="tasks[1]"
      />
      <input
        type="text"
        class="bg-white text-gray-900 block w-full rounded-md border bg-opacity-50 py-1.5 shadow-sm placeholder:text-gray-400 focus:ring-transparent sm:text-sm sm:leading-6"
        placeholder="Task 3"
        (blur)="updateTasks()"
        (input)="areAllTasksEmpty()"
        [ngClass]="!areTasksValid ? 'border-red-500' : 'border-gray-300 focus:border-purple-500'"
        [(ngModel)]="tasks[2]"
      />
    } @loading {
      <div class="animate-pulse">
        <div class="bg-gray-300 h-4 w-1/4 rounded"></div>
        <div class="bg-gray-300 h-4 w-2/3 rounded"></div>
        <div class="bg-gray-300 h-4 w-2/5 rounded"></div>
      </div>
    }
  </div>
}
