<app-command-palette *ngIf="isCommandPaletteShown"></app-command-palette>

<!-- DevMode Warning-->
<div
  *ngIf="isDevModeEnabled()"
  class="fixed text-orange-600 bg-orange-50 left-[-4.5rem] top-[10rem] flex h-fit w-fit -rotate-90 items-center gap-3 rounded-b-lg stroke-orange-600 px-5 py-5"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.75"
    stroke="currentColor"
    class="h-6 w-6"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
    />
  </svg>
  <div class="mt-[0.10rem] flex items-baseline gap-2">
    <label class="text-base font-medium">DevMode is ON</label>
  </div>
</div>

<div
  [ngClass]="
    isCommandPaletteShown
      ? 'fixed bottom-0 left-0 right-0 top-0 overflow-hidden'
      : 'overflow-scroll'
  "
  class="bg-white flex h-fit min-h-[100vh] w-full flex-col gap-5 px-80 py-20"
>
  <h1
    class="fade-in-bottom h-fit w-fit bg-clip-text py-2 text-4xl font-bold text-transparent green-gradient"
    style="--delay: 0.1s"
  >
    Options
  </h1>

  <!-- Pending Changes -->
  <app-pending-changes
    class="fade-in-bottom"
    style="--delay: 0.2s"
  ></app-pending-changes>

  <!-- Tabs -->
  <div
    class="fade-in-bottom bg-green-50 border-green-100 overflow-hidden rounded-xl border p-1"
    style="--delay: 0.3s"
  >
    <ul class="flex items-center gap-2 text-sm font-medium">
      <li class="flex-1">
        <a
          (click)="currentTab = 'blocklist'"
          [ngClass]="
            currentTab == 'blocklist'
              ? 'text-black bg-white'
              : 'text-gray-700 bg-transparent hover:bg-white hover:text-gray-700 hover:bg-opacity-50'
          "
          class="flex items-center justify-center gap-2 rounded-lg px-3 py-2"
        >
          Block List</a
        >
      </li>
      <li class="flex-1">
        <a
          (click)="currentTab = 'blockpage'"
          [ngClass]="
            currentTab == 'blockpage'
              ? 'text-black bg-white'
              : 'text-gray-700 bg-transparent hover:bg-white hover:text-gray-700 hover:bg-opacity-50'
          "
          class="flex items-center justify-center gap-2 rounded-lg px-3 py-2"
        >
          Block Page</a
        >
      </li>
      <li class="flex-1">
        <a
          (click)="currentTab = 'notifications'"
          [ngClass]="
            currentTab == 'notifications'
              ? 'text-black bg-white'
              : 'text-gray-700 bg-transparent hover:bg-white hover:text-gray-700 hover:bg-opacity-50'
          "
          class="flex items-center justify-center gap-2 rounded-lg px-3 py-2"
        >
          Notifications</a
        >
      </li>
    </ul>
  </div>

  <!-- Options Area -->
  <div class="fade-in-bottom" style="--delay: 0.5s">
    <app-blocklist-tab *ngIf="currentTab == 'blocklist'"></app-blocklist-tab>
    <app-blockpage-tab *ngIf="currentTab == 'blockpage'"></app-blockpage-tab>
    <app-notifications-tab
      *ngIf="currentTab == 'notifications'"
    ></app-notifications-tab>
  </div>
</div>
