<ul role="list" class="space-y-3">
  <!-- Permission alert -->
  @defer {
    @if (!hasNotificationPermission) {
      <div class="bg-orange-50 mb-3 rounded-xl p-4 dark:saturate-[0.75] animate-fade-up animate-duration-500">
        <div class="flex h-full">
          <div class="flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-8 w-8 stroke-orange-600"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 9v3.75m0-10.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.249-8.25-3.286zm0 13.036h.008v.008H12v-.008z"
              />
            </svg>
          </div>
          <div class="flex w-full items-center justify-between">
            <div class="ml-3">
              <h3 class="text-orange-600 text-sm font-medium">Permission required</h3>
              <div class="text-orange-600 text-sm font-light">
                {{
                  isNotificationPermissionRequested
                    ? "You need to allow notifications trough your browser settings to use this feature."
                    : "You need to grant access notifications to use this feature."
                }}
              </div>
            </div>
            @if (!isNotificationPermissionRequested) {
              <button
                (click)="requestNotificationPermission()"
                class="orange-gradient text-white ml-3 !transform rounded-md px-4 py-2 text-sm font-medium !transition-all hover:scale-110 hover:shadow-lg hover:shadow-orange-300 hover:dark:shadow-orange-800"
              >
                Grant permission
              </button>
            }
          </div>
        </div>
      </div>
    }
  }

  <!-- Doom scrolling toggle -->
  <li
    class="flex w-full items-center justify-between rounded-xl border-[1px] px-6 py-4 animate-fade-up animate-duration-500"
    [ngClass]="doomScrollingToggle ? 'shadow-inner-md border-green-500 shadow-green-500' : 'border-gray-200'"
  >
    <span class="flex flex-grow flex-col">
      <span class="text-gray-900 text-base font-medium leading-6" id="availability-label">Prevent Doom Scrolling</span>
      <span class="text-gray-500 text-sm" id="availability-description"
        >Send a notification when you've been scrolling for too long.</span
      >
    </span>

    <button
      [ngClass]="doomScrollingToggle ? 'bg-green-500' : 'bg-gray-200'"
      [disabled]="!hasNotificationPermission"
      (click)="toggleDoomScrolling()"
      type="button"
      class="group bg-gray-200 relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent !transition-all !duration-300 !ease-in-out disabled:bg-gray-200 disabled:cursor-not-allowed hover:scale-110"
      role="switch"
      aria-checked="false"
      aria-labelledby="availability-label"
      aria-describedby="availability-description"
    >
      <!-- Enabled: "translate-x-5", Not Enabled: "translate-x-0" -->
      <span
        [ngClass]="doomScrollingToggle ? 'translate-x-5' : 'translate-x-0'"
        aria-hidden="true"
        class="bg-white pointer-events-none inline-block h-5 w-5 translate-x-0 !transform rounded-full shadow !transition-all !duration-200 !ease-in-out group-disabled:bg-gray-400"
      ></span>
    </button>
  </li>

  <!-- More items... -->
</ul>
