<!-- Page Widget -->
<fieldset class="fade-in-bottom-small" style="--delay: 0.1s">
  <legend class="text-gray-900 text-lg font-semibold leading-6">Page widget</legend>
  <legend class="text-gray-800 text-sm font-base">Choose the widget you want to display on the page</legend>

  <!-- Random -->
  <label
    class="bg-white relative mt-5 flex cursor-pointer rounded-lg border px-4 py-2 shadow-sm !transition-all !duration-500 !ease-in-out !transform focus:outline-none"
    [ngClass]="
      selectedWidget == 'Random'
        ? '!bg-green-50 !bg-opacity-75 dark:!bg-opacity-50 border-green-500'
        : 'border-gray-300 hover:ring-2 hover:ring-green-400 hover:scale-[1.02]'
    "
    (click)="updateSelectedWidget('Random')"
  >
    <span class="flex flex-1">
      <span class="flex w-full items-center justify-center gap-3">
        <span id="project-type-0-label" class="text-gray-900 block text-base font-medium">Random</span>
        <span id="project-type-0-description-0" class="text-gray-500 mt-[0.15rem] flex items-center text-sm"
          >Display a random widget every time</span
        >
      </span>
    </span>
    <svg
      class="text-green-500 h-6 w-6"
      viewBox="0 0 20 20"
      fill="currentColor"
      aria-hidden="true"
      [ngClass]="selectedWidget == 'Random' ? 'visible' : 'invisible'"
    >
      <path
        fill-rule="evenodd"
        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
        clip-rule="evenodd"
      />
    </svg>
  </label>

  <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-3 sm:gap-x-4">
    <!-- Quotes -->
    <label
      class="bg-white relative flex cursor-pointer rounded-lg border px-4 py-3 shadow-sm !transition-all !duration-500 !ease-in-out focus:outline-none"
      [ngClass]="
        selectedWidget == 'Quotes'
          ? '!bg-green-50 !bg-opacity-75 dark:!bg-opacity-50 border-green-500'
          : 'border-gray-300 hover:ring-2 hover:ring-green-400 hover:scale-[1.02]'
      "
      (click)="updateSelectedWidget('Quotes')"
    >
      <span class="flex flex-1">
        <span class="flex flex-col">
          <span id="project-type-0-label" class="text-gray-900 block text-base font-medium">Quotes</span>
          <span id="project-type-0-description-0" class="text-gray-500 mt-1 flex items-center text-sm"
            >Display motivational quotes</span
          >
        </span>
      </span>
      <svg
        class="text-green-500 h-6 w-6"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
        [ngClass]="selectedWidget == 'Quotes' ? 'visible' : 'invisible'"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"
        />
      </svg>
    </label>

    <!-- Breathing -->
    <label
      class="bg-white relative flex cursor-pointer rounded-lg border px-4 py-3 shadow-sm !transition-all !duration-500 !ease-in-out focus:outline-none"
      (click)="updateSelectedWidget('Breathing')"
      [ngClass]="
        selectedWidget == 'Breathing'
          ? '!bg-green-50 !bg-opacity-75 dark:!bg-opacity-50 border-green-500'
          : 'border-gray-300 hover:ring-2 hover:ring-green-400 hover:scale-[1.02]'
      "
    >
      <span class="flex flex-1">
        <span class="flex flex-col">
          <span id="project-type-1-label" class="text-gray-900 block text-base font-medium">Breathing</span>
          <span id="project-type-1-description-0" class="text-gray-500 mt-1 flex items-center text-sm"
            >Display breathing exercises</span
          >
        </span>
      </span>
      <svg
        class="text-green-500 h-6 w-6"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
        [ngClass]="selectedWidget == 'Breathing' ? 'visible' : 'invisible'"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"
        />
      </svg>
    </label>

    <!-- Tasks -->
    <label
      class="bg-white relative flex cursor-pointer rounded-lg border px-4 py-3 shadow-sm !transition-all !duration-500 !ease-in-out focus:outline-none"
      (click)="updateSelectedWidget('Tasks')"
      [ngClass]="
        selectedWidget == 'Tasks'
          ? '!bg-green-50 !bg-opacity-75 dark:!bg-opacity-50'
          : 'border-gray-300 hover:ring-2 hover:ring-green-400 hover:scale-[1.02]'
      "
    >
      <span class="flex flex-1">
        <span class="flex flex-col">
          <span id="project-type-2-label" class="text-gray-900 block text-base font-medium">Tasks</span>
          <span id="project-type-2-description-0" class="text-gray-500 mt-1 flex items-center text-sm"
            >Display what you could be doing instead</span
          >
        </span>
      </span>
      @if (areTasksValid) {
        <svg
          class="text-green-500 h-6 w-6"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
          [ngClass]="selectedWidget == 'Tasks' ? 'visible' : 'invisible'"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"
          />
        </svg>
      }

      <span
        class="pointer-events-none absolute -inset-px rounded-lg border-2 hover:border"
        aria-hidden="true"
        [ngClass]="selectedWidget == 'Tasks' ? 'border-green-500' : 'border-transparent'"
      ></span>
    </label>
  </div>
</fieldset>

<!-- Tasks Details -->
@if (selectedWidget == "Tasks" || selectedWidget == "Random") {
  <div class="flex flex-col gap-2 mt-4 fade-in-bottom-small" style="--delay: 0.1s">
    <legend class="text-gray-900 text-sm font-medium">Specify your tasks and the goals you want to achieve</legend>
    @defer {
      @if (!areTasksValid) {
        <p class="mt-2 text-sm text-red-500">Fill out at least one task</p>
      }
      <input
        type="text"
        class="block w-full rounded-md py-1.5 text-gray-900 shadow-sm border placeholder:text-gray-400 focus:ring-transparent sm:text-sm sm:leading-6 bg-white bg-opacity-50"
        placeholder="Task 1"
        (blur)="updateTasks()"
        (input)="checkIfTasksValid()"
        [ngClass]="!areTasksValid ? 'border-red-500' : 'border-gray-300 focus:border-purple-500'"
        [(ngModel)]="tasks[0]"
      />
      <input
        type="text"
        class="block w-full rounded-md py-1.5 text-gray-900 shadow-sm border placeholder:text-gray-400 focus:ring-transparent sm:text-sm sm:leading-6 bg-white bg-opacity-50"
        placeholder="Task 2"
        (blur)="updateTasks()"
        (input)="checkIfTasksValid()"
        [ngClass]="!areTasksValid ? 'border-red-500' : 'border-gray-300 focus:border-purple-500'"
        [(ngModel)]="tasks[1]"
      />
      <input
        type="text"
        class="block w-full rounded-md py-1.5 text-gray-900 shadow-sm border placeholder:text-gray-400 focus:ring-transparent sm:text-sm sm:leading-6 bg-white bg-opacity-50"
        placeholder="Task 3"
        (blur)="updateTasks()"
        (input)="checkIfTasksValid()"
        [ngClass]="!areTasksValid ? 'border-red-500' : 'border-gray-300 focus:border-purple-500'"
        [(ngModel)]="tasks[2]"
      />
    } @loading {
      <div class="animate-pulse">
        <div class="h-4 bg-gray-300 rounded w-1/4"></div>
        <div class="h-4 bg-gray-300 rounded w-2/3"></div>
        <div class="h-4 bg-gray-300 rounded w-2/5"></div>
      </div>
    }
  </div>
}

<!-- Timer Behavior -->
<fieldset class="mt-10 fade-in-bottom-small" style="--delay: 0.3s">
  <legend class="text-gray-900 text-lg font-semibold leading-6">Timer Behavior</legend>
  <legend class="text-gray-800 text-sm font-base">Choose how the timer should behave when you leave the page</legend>

  <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4">
    <!-- Pause -->
    <label
      class="bg-white relative flex cursor-pointer rounded-lg border px-4 py-3 shadow-sm !transition-all !duration-500 !ease-in-out focus:outline-none"
      [ngClass]="
        timerBehavior == 'Pause'
          ? '!bg-green-50 !bg-opacity-75 dark:!bg-opacity-50 border-green-500'
          : 'border-gray-300 hover:ring-2 hover:ring-green-400 hover:scale-[1.02]'
      "
      (click)="updateTimerBehavior('Pause')"
    >
      <span class="flex flex-1">
        <span class="flex flex-col">
          <span id="project-type-0-label" class="text-gray-900 block text-base font-medium">Pause</span>
          <span id="project-type-0-description-0" class="text-gray-500 mt-1 flex items-center text-sm"
            >Pause timer until page is focused again</span
          >
        </span>
      </span>
      <svg
        class="text-green-500 h-6 w-6"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
        [ngClass]="timerBehavior == 'Pause' ? 'visible' : 'invisible'"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"
        />
      </svg>
    </label>

    <!-- Restart -->
    <label
      class="bg-white relative flex cursor-pointer rounded-lg border px-4 py-3 shadow-sm !transition-all !duration-500 !ease-in-out focus:outline-none"
      (click)="updateTimerBehavior('Restart')"
      [ngClass]="
        timerBehavior == 'Restart'
          ? '!bg-green-50 !bg-opacity-75 dark:!bg-opacity-50 border-green-500'
          : 'border-gray-300 hover:ring-2 hover:ring-green-400 hover:scale-[1.02]'
      "
    >
      <span class="flex flex-1">
        <span class="flex flex-col">
          <span id="project-type-1-label" class="text-gray-900 block text-base font-medium">Restart</span>
          <span id="project-type-1-description-0" class="text-gray-500 mt-1 flex items-center text-sm"
            >Restart the timer from the beginning</span
          >
        </span>
      </span>
      <svg
        class="text-green-500 h-6 w-6"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
        [ngClass]="timerBehavior == 'Restart' ? 'visible' : 'invisible'"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"
        />
      </svg>
    </label>
  </div>
</fieldset>
