<div class="mt-2 min-w-full">
  <h1 class="text-gray-900 text-lg font-semibold leading-6">Websites</h1>
  <div class="sm:flex sm:items-center">
    <div class="w-full sm:flex-auto">
      <p class="text-gray-700 mt-2 w-full text-pretty text-sm">
        You can add, edit, or delete websites from this list.
      </p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <div class="group relative flex flex-col items-center">
        <button
          (click)="toggleCommandPalette(true)"
          type="button"
          class="green-gradient text-white flex !transform items-center gap-2 rounded-lg stroke-white px-3 py-2 text-center text-base font-medium !transition-all hover:scale-105 hover:rounded-xl"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            />
          </svg>

          Add new website
        </button>
        <div
          class="absolute bottom-full mb-2 hidden justify-center !transition-all group-hover:block"
        >
          <div class="text-black bg-gray-200 rounded-full px-4 py-2 text-sm">
            {{ OS === "MacOS" ? "⌘" : "Ctrl" }} + K
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Websites Table -->
  <div class="fade-up fade-up-delay-100 mt-5 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div
          class="max-h-[30rem] overflow-scroll shadow ring-1 ring-gray-300 ring-opacity-5 dark:ring-gray-700 sm:rounded-lg"
        >
          <table class="min-w-full divide-y-0 divide-gray-300 dark:divide-gray-700">
            <thead class="bg-green-500 sticky top-0 z-10">
              <tr class="cursor-default *:text-white *:text-left *:text-sm *:font-semibold">
                <th scope="col" class="w-1/2 py-3.5 pl-5">Website</th>
                <th scope="col" class="w-1/6 py-3.5">Category</th>
                <th scope="col" class="w-1/6 py-3.5">Awareness</th>
                <th scope="col" class="w-1/6 py-3.5">Actions</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-300 overflow-scroll dark:divide-gray-700">
              <!-- User Websites -->
              @for (website of restrictedWebsites; track $index) {
                <tr
                  websites-list-row
                  [website]="website[1]"
                  [isPending]="
                    websitesPendingEdit.has(website[1].host) ||
                    pendingChangesService.websitesToDelete.has(website[1].host)
                  "
                  class="fade-up fade-up-delay-300"
                  [ngClass]="[
                    pendingChangesService.websitesToDelete.has(website[1].host)
                      ? 'bg-red-50 saturate-[0.8] dark:bg-opacity-50'
                      : '',
                    websitesPendingEdit.has(website[1].host)
                      ? 'bg-purple-50 saturate-[0.8] dark:bg-opacity-50'
                      : ''
                  ]"
                ></tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
