<!-- Bedtime Mode -->
<li
  class="flex w-full flex-col rounded-xl border px-6 py-4"
  [ngClass]="bedtimeMode.isEnabled ? 'shadow-inner-md border-green-500 shadow-green-500' : 'border-gray-200'"
  [@HeightChange]="{ value: bedtimeMode.isEnabled, params: { startHeight: container.clientHeight } }"
  #container
>
  <!-- Title & Switch -->
  <div class="flex w-full items-center justify-between">
    <span class="flex flex-grow flex-col gap-1">
      <div class="flex gap-2">
        <span class="text-gray-900 text-base font-medium leading-6" id="availability-label">Bedtime Mode</span>
        <span class="text-green-700 bg-green-100 inline-flex items-center rounded-full px-2 py-1 text-xs font-semibold">New</span>
      </div>
      <span class="text-gray-500 text-sm" id="availability-description">
        Smoothly change screen colors to black & white during the selected hours.
      </span>
    </span>

    <button
      [ngClass]="bedtimeMode.isEnabled ? 'bg-green-500' : 'bg-gray-200'"
      (click)="toggleMode()"
      type="button"
      class="group bg-gray-200 relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent !transition-all !duration-300 !ease-in-out disabled:bg-gray-200 hover:scale-110 disabled:cursor-not-allowed"
      role="switch"
      aria-checked="false"
      aria-labelledby="availability-label"
      aria-describedby="availability-description"
    >
      <span
        [ngClass]="bedtimeMode.isEnabled ? 'translate-x-5' : 'translate-x-0'"
        aria-hidden="true"
        class="bg-white pointer-events-none inline-block h-5 w-5 translate-x-0 !transform rounded-full shadow !transition-all !duration-300 !ease-in-out group-disabled:bg-gray-400"
      ></span>
    </button>
  </div>

  <!-- Hours Selection-->
  @if (bedtimeMode.isEnabled) {
    <div class="flex w-full fade-up fade-up-delay-200 gap-5 pt-5">
      <!-- Start Time -->
      <div class="w-32">
        <label for="start-time" class="text-gray-900 mb-1 block text-sm font-medium">Start at:</label>
        <div class="relative mb-1">
          <div class="pointer-events-none absolute inset-y-0 end-0 top-0 flex items-center pe-3.5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.25"
              class="size-6 stroke-black dark:stroke-white"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
          </div>
          <input
            type="time"
            id="start-time"
            class="text-gray-900 block w-full cursor-pointer rounded-lg border p-2.5 text-sm leading-none !transition-all duration-300 focus:rounded-xl dark:bg-opacity-50"
            [ngClass]="
              isBedtimeStartCorrect
                ? 'border-gray-300 bg-transparent hover:bg-gray-50 focus:bg-purple-50 focus:border-purple-500 focus:ring-purple-500'
                : 'bg-red-50 border-red-500 focus:border-red-500'
            "
            min="20:00"
            max="02:00"
            value="{{ timeToString(bedtimeMode.startAt) }}"
            required
            (input)="setStartDate($any($event).target.value)"
          />
        </div>
        <p
          class="text-red-500 flex items-end font-medium "
          [ngClass]="isBedtimeStartCorrect ? 'hidden' : 'block'"
        >
          Don't be ridiculous
        </p>
      </div>

      <!-- Bed timeline -->
      <div class="flex items-center gap-3 pt-5">
        <div class="bg-green-500 h-[2px] w-10 flex-1 rounded-full"></div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke-width="1.75"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="stroke-green-500"
        >
          <path d="M2 20v-8a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v8" />
          <path d="M4 10V6a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v4" />
          <path d="M12 4v6" />
          <path d="M2 18h20" />
        </svg>
        <div class="bg-green-500 h-[2px] w-10 flex-1 rounded-full"></div>
      </div>

      <!-- End Time -->
      <div class="w-32">
        <label for="end-time" class="text-gray-900 mb-1 block text-sm font-medium">End at:</label>
        <div class="relative mb-1">
          <div class="pointer-events-none absolute inset-y-0 end-0 top-0 flex items-center pe-3.5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.25"
              class="size-6 stroke-black dark:stroke-white"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
          </div>
          <input
            type="time"
            id="end-time"
            class="text-gray-900 block w-full cursor-pointer rounded-lg border p-2.5 text-sm leading-none !transition-all duration-300 focus:rounded-xl"
            [ngClass]="
              isBedtimeEndCorrect
                ? 'border-gray-300 bg-transparent hover:bg-gray-50 focus:bg-purple-50 focus:border-purple-500 focus:ring-purple-500 dark:bg-opacity-50'
                : 'bg-red-50 border-red-500 focus:border-red-500'
            "
            min="02:00"
            max="10:00"
            value="{{ timeToString(bedtimeMode.endAt) }}"
            required
            (input)="setEndDate($any($event).target.value)"
          />
        </div>
        <p
          class="text-red-500 mt-1 flex animate-fade items-end font-medium animate-duration-150"
          [ngClass]="isBedtimeEndCorrect ? 'hidden' : 'block'"
        >
          Don't be ridiculous
        </p>
      </div>
    </div>
  }
</li>
