<div class="bg-blue-50 rounded-md p-4" *ngIf="areChangesPending">
  <div class="flex">
    <div class="flex-shrink-0">
      <svg
        class="text-blue-400 h-5 w-5"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
    <div class="ml-3">
      <h3 class="text-blue-800 text-sm font-medium">Changes Pending</h3>
      <div class="text-blue-700 mt-2 text-sm">
        <p>To confirm your modifications, please come back at {{validationDate.toString()}}</p>
      </div>
      <div class="mt-4">
        <div class="-mx-2 -my-1.5 flex">
          <button
            (click)="confirmChanges()"
            [ngClass]="
              canChangesBeValidated
                ? 'text-blue-800 hover:bg-blue-100'
                : 'text-gray-500 cursor-not-allowed'
            "
            type="button"
            class="bg-blue-50 rounded-md px-2 py-1.5 text-sm font-medium focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-blue-50"
          >
            Confirm
          </button>
          <button
            (click)="discardChanges()"
            type="button"
            class="text-blue-800 bg-blue-50 ml-3 rounded-md px-2 py-1.5 text-sm font-medium hover:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-blue-50"
          >
            Discard
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
