<!-- Table -->
<div class="mt-5 min-w-full">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-gray-900 text-base font-semibold leading-6">Websites</h1>
      <p class="text-gray-700 mt-2 text-sm">
        For your wellbeing, certain websites we identified as the most
        time-consuming are enforced in the block list.
      </p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <button
        (click)="toggleCommandPalette(true)"
        type="button"
        class="text-white mb-2 mr-2 mt-5 rounded-lg bg-gradient-to-br from-green-400 via-green-500 to-green-600 px-5 py-2.5 text-center text-sm font-medium dark:from-green-200 dark:via-green-300 dark:to-green-400"
      >
        Add new website
      </button>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div
          class="max-h-[25rem] overflow-scroll shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg"
        >
          <table class="min-w-full divide-y-0 divide-gray-300">
            <thead class="bg-gray-50">
              <tr class="">
                <th
                  scope="col"
                  class="text-gray-900 w-1/2 py-3.5 pl-5 text-left text-sm font-semibold"
                >
                  Website
                </th>
                <th
                  scope="col"
                  class="text-gray-900 w-1/6 py-3.5 text-left text-sm font-semibold"
                >
                  Category
                </th>
                <th
                  scope="col"
                  class="text-gray-900 w-1/6 py-3.5 text-left text-sm font-semibold"
                >
                  Blocked Ratio
                </th>
                <th
                  scope="col"
                  class="text-gray-900 w-1/6 py-3.5 text-left text-sm font-semibold"
                >
                  Actions
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200 overflow-scroll">
              <tr *ngFor="let website of userWebsites; let i = index">
                <td
                  class="text-gray-900 whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium sm:pl-6"
                >
                  <span *ngIf="editIndex != i">{{ website.host }}</span>
                  <div
                    *ngIf="editIndex === i"
                    class="focus-within:ring-indigo-600 flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset sm:max-w-md"
                  >
                    <span
                      class="text-gray-500 flex select-none items-center pl-3 sm:text-sm"
                      >http://</span
                    >
                    <input
                      type="text"
                      name="company-website"
                      id="company-website"
                      class="text-gray-900 block flex-1 border-0 bg-transparent py-1.5 pl-1 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                      placeholder="example.com"
                      [(ngModel)]="website.host"
                      (blur)="setEditIndex(-1)"
                    />
                    <svg
                      (click)="setEditIndex(-1)"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="h-6 w-6 flex select-none items-center pr-3 sm:text-sm"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                      />
                    </svg>
                  </div>
                </td>
                <td class="text-gray-500 whitespace-nowrap py-4 text-sm">
                  {{ website.category }}
                </td>
                <td class="text-gray-500 whitespace-nowrap py-4 text-sm">
                  {{ computeBlockedScore(website) }}
                </td>
                <td
                  class="relative flex gap-5 whitespace-nowrap py-4 pr-3 text-right text-sm font-medium sm:pr-6"
                >
                  <a
                    class="text-purple-500 cursor-pointer underline hover:text-purple-600"
                    (click)="setEditIndex(i)"
                  >
                    Edit
                  </a>
                  <a
                    class="text-purple-500 cursor-pointer underline hover:text-purple-600"
                  >
                    Remove
                  </a>
                </td>
              </tr>
              <tr *ngFor="let website of enforcedWebsites">
                <td
                  class="text-gray-900 whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium sm:pl-6"
                >
                  {{ website.host }}
                </td>
                <td class="text-gray-500 whitespace-nowrap py-4 text-sm">
                  {{ website.category }}
                </td>
                <td class="text-gray-500 whitespace-nowrap py-4 text-sm">
                  {{ computeBlockedScore(website) }}
                </td>
                <td
                  class="relative flex gap-5 whitespace-nowrap py-4 pr-3 text-right text-sm font-medium sm:pr-6"
                >
                  <a
                    class="text-gray-500 cursor-not-allowed hover:text-gray-600"
                  >
                    Edit
                  </a>
                  <a
                    class="text-gray-500 cursor-not-allowed hover:text-gray-600"
                  >
                    Remove
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
