<!-- Radio Group -->
<fieldset>
  <legend class="text-gray-900 text-base font-semibold leading-6">
    Page widget
  </legend>

  <!-- Random -->
  <label
    class="bg-white relative mt-5 flex cursor-pointer rounded-lg border px-4 py-2 shadow-sm !transition-all !duration-500 !ease-in-out focus:outline-none"
    [ngClass]="
      selectedWidget == 'Random'
        ? '!bg-green-50 !bg-opacity-75 dark:!bg-opacity-25'
        : 'border-gray-300 hover:ring-2 hover:ring-green-400'
    "
    (click)="updateSelectedWidget('Random')"
  >
    <span class="flex flex-1">
      <span class="flex w-full items-center justify-center gap-3">
        <span
          id="project-type-0-label"
          class="text-gray-900 block text-base font-medium"
          >Random</span
        >
        <span
          id="project-type-0-description-0"
          class="text-gray-500 mt-[0.15rem] flex items-center text-sm"
          >Display a random widget every time</span
        >
      </span>
    </span>
    <svg
      class="text-green-500 h-6 w-6"
      viewBox="0 0 20 20"
      fill="currentColor"
      aria-hidden="true"
      [ngClass]="selectedWidget == 'Random' ? 'visible' : 'invisible'"
    >
      <path
        fill-rule="evenodd"
        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
        clip-rule="evenodd"
      />
    </svg>
    <span
      class="pointer-events-none absolute -inset-px rounded-lg border-2 hover:border"
      aria-hidden="true"
      [ngClass]="
        selectedWidget == 'Random' ? 'border-green-500' : 'border-transparent'
      "
    ></span>
  </label>

  <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-3 sm:gap-x-4">
    <!-- Quotes -->
    <label
      class="bg-white relative flex cursor-pointer rounded-lg border p-4 shadow-sm !transition-all !duration-500 !ease-in-out focus:outline-none"
      [ngClass]="
        selectedWidget == 'Quotes'
          ? '!bg-green-50 !bg-opacity-75 dark:!bg-opacity-25'
          : 'border-gray-300 hover:ring-2 hover:ring-green-400'
      "
      (click)="updateSelectedWidget('Quotes')"
    >
      <span class="flex flex-1">
        <span class="flex flex-col">
          <span
            id="project-type-0-label"
            class="text-gray-900 block text-base font-medium"
            >Quotes</span
          >
          <span
            id="project-type-0-description-0"
            class="text-gray-500 mt-1 flex items-center text-sm"
            >Display motivational quotes (Default)</span
          >
        </span>
      </span>
      <svg
        class="text-green-500 h-6 w-6"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
        [ngClass]="selectedWidget == 'Quotes' ? 'visible' : 'invisible'"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"
        />
      </svg>
      <span
        class="pointer-events-none absolute -inset-px rounded-lg border-2 hover:border"
        aria-hidden="true"
        [ngClass]="
          selectedWidget == 'Quotes' ? 'border-green-500' : 'border-transparent'
        "
      ></span>
    </label>

    <!-- Breathing -->
    <label
      class="bg-white relative flex cursor-pointer rounded-lg border p-4 shadow-sm !transition-all !duration-500 !ease-in-out focus:outline-none"
      (click)="updateSelectedWidget('Breathing')"
      [ngClass]="
        selectedWidget == 'Breathing'
          ? '!bg-green-50 !bg-opacity-75 dark:!bg-opacity-25'
          : 'border-gray-300 hover:ring-2 hover:ring-green-400'
      "
    >
      <span class="flex flex-1">
        <span class="flex flex-col">
          <span
            id="project-type-1-label"
            class="text-gray-900 block text-base font-medium"
            >Breathing</span
          >
          <span
            id="project-type-1-description-0"
            class="text-gray-500 mt-1 flex items-center text-sm"
            >Display breathing exercises</span
          >
        </span>
      </span>
      <svg
        class="text-green-500 h-6 w-6"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
        [ngClass]="selectedWidget == 'Breathing' ? 'visible' : 'invisible'"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"
        />
      </svg>
      <span
        class="pointer-events-none absolute -inset-px rounded-lg border-2 hover:border"
        aria-hidden="true"
        [ngClass]="
          selectedWidget == 'Breathing'
            ? 'border-green-500'
            : 'border-transparent'
        "
      ></span>
    </label>

    <!-- Tasks -->
    <label
      class="bg-white relative flex cursor-pointer rounded-lg border p-4 shadow-sm !transition-all !duration-500 !ease-in-out focus:outline-none"
      (click)="updateSelectedWidget('Tasks')"
      [ngClass]="
        selectedWidget == 'Tasks'
          ? '!bg-green-50 !bg-opacity-75 dark:!bg-opacity-25'
          : 'border-gray-300 hover:ring-2 hover:ring-green-400'
      "
    >
      <span class="flex flex-1">
        <span class="flex flex-col">
          <span
            id="project-type-2-label"
            class="text-gray-900 block text-base font-medium"
            >Tasks</span
          >
          <span
            id="project-type-2-description-0"
            class="text-gray-500 mt-1 flex items-center text-sm"
            >Display what you could be doing instead</span
          >
        </span>
      </span>
      <svg
        class="text-green-500 h-6 w-6"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
        [ngClass]="selectedWidget == 'Tasks' ? 'visible' : 'invisible'"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"
        />
      </svg>

      <span
        class="pointer-events-none absolute -inset-px rounded-lg border-2 hover:border"
        aria-hidden="true"
        [ngClass]="
          selectedWidget == 'Tasks' ? 'border-green-500' : 'border-transparent'
        "
      ></span>
    </label>
  </div>
</fieldset>

<div
  *ngIf="selectedWidget == 'Tasks' || selectedWidget == 'Random'"
  class="mt-3"
></div>
