<!-- Get Ready Animation -->
@if (text == "Get Ready") {
  <svg
    id="2052:2"
    viewBox="0 0 1214 1135"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    class="w-56 h-56"
  >
    <g transform="matrix(1,0,0,1,0,0)">
      <g id="2052:2" opacity="1" style="mix-blend-mode: normal">
        <g>
          <g>
            <g transform="matrix(1,0,0,1,207,194)">
              <g id="2052:3" opacity="1" style="mix-blend-mode: normal">
                <g>
                  <g>
                    <g transform="matrix(1,0,0,1,100,0)">
                      <g id="2052:4" opacity="0" style="mix-blend-mode: normal">
                        <g>
                          <g>
                            <path
                              id="2052:4_fill_path"
                              d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                              fill-rule="nonzero"
                              class="fill-white"
                              fill-opacity="0.5"
                              style="mix-blend-mode: NORMAL"
                            ></path>
                            <defs>
                              <clipPath id="2052:4_stroke_clip_path" clipPathUnits="userSpaceOnUse">
                                <path
                                  d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                ></path>
                              </clipPath>
                            </defs>
                            <g style="mix-blend-mode: NORMAL">
                              <g clip-path="url(#2052:4_stroke_clip_path)">
                                <path
                                  id="2052:4_stroke_path"
                                  d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                  fill="none"
                                  class="stroke-white"
                                  stroke-width="2"
                                  stroke-linecap="butt"
                                  stroke-linejoin="miter"
                                  stroke-dasharray="0 0"
                                  stroke-opacity="0.5"
                                ></path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                    <g transform="matrix(1,0,0,1,300,0)">
                      <g id="2052:5" opacity="0" style="mix-blend-mode: normal">
                        <g>
                          <g>
                            <path
                              id="2052:5_fill_path"
                              d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                              fill-rule="nonzero"
                              class="fill-white"
                              fill-opacity="0.5"
                              style="mix-blend-mode: NORMAL"
                            ></path>
                            <defs>
                              <clipPath id="2052:5_stroke_clip_path" clipPathUnits="userSpaceOnUse">
                                <path
                                  d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                ></path>
                              </clipPath>
                            </defs>
                            <g style="mix-blend-mode: NORMAL">
                              <g clip-path="url(#2052:5_stroke_clip_path)">
                                <path
                                  id="2052:5_stroke_path"
                                  d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                  fill="none"
                                  class="stroke-white"
                                  stroke-width="2"
                                  stroke-linecap="butt"
                                  stroke-linejoin="miter"
                                  stroke-dasharray="0 0"
                                  stroke-opacity="0.5"
                                ></path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                    <g transform="matrix(1,0,0,1,400,174)">
                      <g id="2052:6" opacity="0" style="mix-blend-mode: normal">
                        <g>
                          <g>
                            <path
                              id="2052:6_fill_path"
                              d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                              fill-rule="nonzero"
                              class="fill-white"
                              fill-opacity="0.5"
                              style="mix-blend-mode: NORMAL"
                            ></path>
                            <defs>
                              <clipPath id="2052:6_stroke_clip_path" clipPathUnits="userSpaceOnUse">
                                <path
                                  d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                ></path>
                              </clipPath>
                            </defs>
                            <g style="mix-blend-mode: NORMAL">
                              <g clip-path="url(#2052:6_stroke_clip_path)">
                                <path
                                  id="2052:6_stroke_path"
                                  d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                  fill="none"
                                  class="stroke-white"
                                  stroke-width="2"
                                  stroke-linecap="butt"
                                  stroke-linejoin="miter"
                                  stroke-dasharray="0 0"
                                  stroke-opacity="0.5"
                                ></path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                    <g transform="matrix(1,0,0,1,300,348)">
                      <g id="2052:7" opacity="0" style="mix-blend-mode: normal">
                        <g>
                          <g>
                            <path
                              id="2052:7_fill_path"
                              d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                              fill-rule="nonzero"
                              class="fill-white"
                              fill-opacity="0.5"
                              style="mix-blend-mode: NORMAL"
                            ></path>
                            <defs>
                              <clipPath id="2052:7_stroke_clip_path" clipPathUnits="userSpaceOnUse">
                                <path
                                  d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                ></path>
                              </clipPath>
                            </defs>
                            <g style="mix-blend-mode: NORMAL">
                              <g clip-path="url(#2052:7_stroke_clip_path)">
                                <path
                                  id="2052:7_stroke_path"
                                  d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                  fill="none"
                                  class="stroke-white"
                                  stroke-width="2"
                                  stroke-linecap="butt"
                                  stroke-linejoin="miter"
                                  stroke-dasharray="0 0"
                                  stroke-opacity="0.5"
                                ></path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                    <g transform="matrix(1,0,0,1,100,348)">
                      <g id="2052:8" opacity="0" style="mix-blend-mode: normal">
                        <g>
                          <g>
                            <path
                              id="2052:8_fill_path"
                              d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                              fill-rule="nonzero"
                              class="fill-white"
                              fill-opacity="0.5"
                              style="mix-blend-mode: NORMAL"
                            ></path>
                            <defs>
                              <clipPath id="2052:8_stroke_clip_path" clipPathUnits="userSpaceOnUse">
                                <path
                                  d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                ></path>
                              </clipPath>
                            </defs>
                            <g style="mix-blend-mode: NORMAL">
                              <g clip-path="url(#2052:8_stroke_clip_path)">
                                <path
                                  id="2052:8_stroke_path"
                                  d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                  fill="none"
                                  class="stroke-white"
                                  stroke-width="2"
                                  stroke-linecap="butt"
                                  stroke-linejoin="miter"
                                  stroke-dasharray="0 0"
                                  stroke-opacity="0.5"
                                ></path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                    <g transform="matrix(1,0,0,1,0,174)">
                      <g id="2052:9" opacity="0" style="mix-blend-mode: normal">
                        <g>
                          <g>
                            <path
                              id="2052:9_fill_path"
                              d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                              fill-rule="nonzero"
                              class="fill-white"
                              fill-opacity="0.5"
                              style="mix-blend-mode: NORMAL"
                            ></path>
                            <defs>
                              <clipPath id="2052:9_stroke_clip_path" clipPathUnits="userSpaceOnUse">
                                <path
                                  d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                ></path>
                              </clipPath>
                            </defs>
                            <g style="mix-blend-mode: NORMAL">
                              <g clip-path="url(#2052:9_stroke_clip_path)">
                                <path
                                  id="2052:9_stroke_path"
                                  d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                  fill="none"
                                  class="stroke-white"
                                  stroke-width="2"
                                  stroke-linecap="butt"
                                  stroke-linejoin="miter"
                                  stroke-dasharray="0 0"
                                  stroke-opacity="0.5"
                                ></path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
    </g>
    <animateTransform
      href="#2052:3"
      attributeName="transform"
      type="rotate"
      values="0 400 374;0 400 374;360 400 374;360 400 374"
      dur="3s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.08;0.92;1"
      keySplines="0.42 0 1 1;0.42 0 0.0047 1;0 0 0.0047 1"
      additive="sum"
      fill="freeze"
    ></animateTransform>
    <animateTransform
      href="#2052:4"
      attributeName="transform"
      type="translate"
      values="200 200;200 200;200 200"
      dur="3s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.11;1"
      keySplines="0.5 0 0.15 1;0.5 0.35 0.15 1"
      additive="sum"
      fill="freeze"
    ></animateTransform>
    <animateTransform
      href="#2052:4"
      attributeName="transform"
      type="scale"
      values="0 0;1 1;1 1"
      dur="3s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.11;1"
      keySplines="0.5 0 0.15 1;0.5 0.35 0.15 1"
      additive="sum"
      fill="freeze"
    ></animateTransform>
    <animateTransform
      href="#2052:4"
      attributeName="transform"
      type="translate"
      values="-200 -200;-200 -200;-200 -200"
      dur="3s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.11;1"
      keySplines="0.5 0 0.15 1;0.5 0.35 0.15 1"
      additive="sum"
      fill="freeze"
    ></animateTransform>
    <animate
      href="#2052:4"
      attributeName="opacity"
      values="0;1;1"
      dur="3s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.11;1"
      keySplines="0.5 0 0.15 1;0.5 0.35 0.15 1"
      additive="replace"
      fill="freeze"
    ></animate>
    <animateTransform
      href="#2052:5"
      attributeName="transform"
      type="translate"
      values="200 200;200 200;200 200;200 200"
      dur="3s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.05;0.16;1"
      keySplines="0.5 0 0.15 1;0.5 0 0.15 1;0.5 0.35 0.15 1"
      additive="sum"
      fill="freeze"
    ></animateTransform>
    <animateTransform
      href="#2052:5"
      attributeName="transform"
      type="scale"
      values="0 0;0 0;1 1;1 1"
      dur="3s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.05;0.16;1"
      keySplines="0.5 0 0.15 1;0.5 0 0.15 1;0.5 0.35 0.15 1"
      additive="sum"
      fill="freeze"
    ></animateTransform>
    <animateTransform
      href="#2052:5"
      attributeName="transform"
      type="translate"
      values="-200 -200;-200 -200;-200 -200;-200 -200"
      dur="3s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.05;0.16;1"
      keySplines="0.5 0 0.15 1;0.5 0 0.15 1;0.5 0.35 0.15 1"
      additive="sum"
      fill="freeze"
    ></animateTransform>
    <animate
      href="#2052:5"
      attributeName="opacity"
      values="0;0;1;1"
      dur="3s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.05;0.16;1"
      keySplines="0.5 0 0.15 1;0.5 0 0.15 1;0.5 0.35 0.15 1"
      additive="replace"
      fill="freeze"
    ></animate>
    <animateTransform
      href="#2052:6"
      attributeName="transform"
      type="translate"
      values="200 200;200 200;200 200;200 200"
      dur="3s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.1;0.21;1"
      keySplines="0.5 0 0.15 1;0.5 0 0.15 1;0.5 0.35 0.15 1"
      additive="sum"
      fill="freeze"
    ></animateTransform>
    <animateTransform
      href="#2052:6"
      attributeName="transform"
      type="scale"
      values="0 0;0 0;1 1;1 1"
      dur="3s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.1;0.21;1"
      keySplines="0.5 0 0.15 1;0.5 0 0.15 1;0.5 0.35 0.15 1"
      additive="sum"
      fill="freeze"
    ></animateTransform>
    <animateTransform
      href="#2052:6"
      attributeName="transform"
      type="translate"
      values="-200 -200;-200 -200;-200 -200;-200 -200"
      dur="3s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.1;0.21;1"
      keySplines="0.5 0 0.15 1;0.5 0 0.15 1;0.5 0.35 0.15 1"
      additive="sum"
      fill="freeze"
    ></animateTransform>
    <animate
      href="#2052:6"
      attributeName="opacity"
      values="0;0;1;1"
      dur="3s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.1;0.21;1"
      keySplines="0.5 0 0.15 1;0.5 0 0.15 1;0.5 0.35 0.15 1"
      additive="replace"
      fill="freeze"
    ></animate>
    <animateTransform
      href="#2052:7"
      attributeName="transform"
      type="translate"
      values="200 200;200 200;200 200;200 200"
      dur="3s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.15;0.26;1"
      keySplines="0.5 0 0.15 1;0.5 0 0.15 1;0.5 0.35 0.15 1"
      additive="sum"
      fill="freeze"
    ></animateTransform>
    <animateTransform
      href="#2052:7"
      attributeName="transform"
      type="scale"
      values="0 0;0 0;1 1;1 1"
      dur="3s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.15;0.26;1"
      keySplines="0.5 0 0.15 1;0.5 0 0.15 1;0.5 0.35 0.15 1"
      additive="sum"
      fill="freeze"
    ></animateTransform>
    <animateTransform
      href="#2052:7"
      attributeName="transform"
      type="translate"
      values="-200 -200;-200 -200;-200 -200;-200 -200"
      dur="3s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.15;0.26;1"
      keySplines="0.5 0 0.15 1;0.5 0 0.15 1;0.5 0.35 0.15 1"
      additive="sum"
      fill="freeze"
    ></animateTransform>
    <animate
      href="#2052:7"
      attributeName="opacity"
      values="0;0;1;1"
      dur="3s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.15;0.26;1"
      keySplines="0.5 0 0.15 1;0.5 0 0.15 1;0.5 0.35 0.15 1"
      additive="replace"
      fill="freeze"
    ></animate>
    <animateTransform
      href="#2052:8"
      attributeName="transform"
      type="translate"
      values="200 200;200 200;200 200;200 200"
      dur="3s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.2;0.31;1"
      keySplines="0.5 0 0.15 1;0.5 0 0.15 1;0.5 0.35 0.15 1"
      additive="sum"
      fill="freeze"
    ></animateTransform>
    <animateTransform
      href="#2052:8"
      attributeName="transform"
      type="scale"
      values="0 0;0 0;1 1;1 1"
      dur="3s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.2;0.31;1"
      keySplines="0.5 0 0.15 1;0.5 0 0.15 1;0.5 0.35 0.15 1"
      additive="sum"
      fill="freeze"
    ></animateTransform>
    <animateTransform
      href="#2052:8"
      attributeName="transform"
      type="translate"
      values="-200 -200;-200 -200;-200 -200;-200 -200"
      dur="3s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.2;0.31;1"
      keySplines="0.5 0 0.15 1;0.5 0 0.15 1;0.5 0.35 0.15 1"
      additive="sum"
      fill="freeze"
    ></animateTransform>
    <animate
      href="#2052:8"
      attributeName="opacity"
      values="0;0;1;1"
      dur="3s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.2;0.31;1"
      keySplines="0.5 0 0.15 1;0.5 0 0.15 1;0.5 0.35 0.15 1"
      additive="replace"
      fill="freeze"
    ></animate>
    <animateTransform
      href="#2052:9"
      attributeName="transform"
      type="translate"
      values="200 200;200 200;200 200;200 200"
      dur="3s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.24;0.36;1"
      keySplines="0.5 0 0.15 1;0.5 0 0.15 1;0.5 0.35 0.15 1"
      additive="sum"
      fill="freeze"
    ></animateTransform>
    <animateTransform
      href="#2052:9"
      attributeName="transform"
      type="scale"
      values="0 0;0 0;1 1;1 1"
      dur="3s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.24;0.36;1"
      keySplines="0.5 0 0.15 1;0.5 0 0.15 1;0.5 0.35 0.15 1"
      additive="sum"
      fill="freeze"
    ></animateTransform>
    <animateTransform
      href="#2052:9"
      attributeName="transform"
      type="translate"
      values="-200 -200;-200 -200;-200 -200;-200 -200"
      dur="3s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.24;0.36;1"
      keySplines="0.5 0 0.15 1;0.5 0 0.15 1;0.5 0.35 0.15 1"
      additive="sum"
      fill="freeze"
    ></animateTransform>
    <animate
      href="#2052:9"
      attributeName="opacity"
      values="0;0;1;1"
      dur="3s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.24;0.36;1"
      keySplines="0.5 0 0.15 1;0.5 0 0.15 1;0.5 0.35 0.15 1"
      additive="replace"
      fill="freeze"
    ></animate>
  </svg>
} @else if (text == "Done") {
  <!-- Static logo when done -->
  <svg
    width="1214"
    height="1135"
    viewBox="0 0 1214 1135"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="w-56 h-56"
  >
    <circle cx="507" cy="394" r="200" class="fill-white" fill-opacity="0.5" />
    <circle cx="507" cy="394" r="199.5" class="stroke-white" stroke-opacity="0.5" />
    <circle cx="707" cy="394" r="200" class="fill-white" fill-opacity="0.5" />
    <circle cx="707" cy="394" r="199.5" class="stroke-white" stroke-opacity="0.5" />
    <circle cx="807" cy="568" r="200" class="fill-white" fill-opacity="0.5" />
    <circle cx="807" cy="568" r="199.5" class="stroke-white" stroke-opacity="0.5" />
    <circle cx="707" cy="742" r="200" class="fill-white" fill-opacity="0.5" />
    <circle cx="707" cy="742" r="199.5" class="stroke-white" stroke-opacity="0.5" />
    <circle cx="507" cy="742" r="200" class="fill-white" fill-opacity="0.5" />
    <circle cx="507" cy="742" r="199.5" class="stroke-white" stroke-opacity="0.5" />
    <circle cx="407" cy="568" r="200" class="fill-white" fill-opacity="0.5" />
    <circle cx="407" cy="568" r="199.5" class="stroke-white" stroke-opacity="0.5" />
  </svg>
} @else {
  <!-- Breathing Animation -->
  <svg
    id="2045:9"
    viewBox="0 0 1214 1135"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    class="w-56 h-56"
  >
    <g transform="matrix(1,0,0,1,0,0)">
      <g id="2045:9" opacity="1" style="mix-blend-mode: normal">
        <g>
          <g>
            <g transform="matrix(1,0,0,1,207,194)">
              <g id="2045:10" opacity="1" style="mix-blend-mode: normal">
                <g>
                  <g>
                    <g transform="matrix(1,0,0,1,100,0)">
                      <defs>
                        <filter
                          id="2045:2_backgroundBlur_0"
                          x="-100%"
                          y="-100%"
                          width="300%"
                          height="300%"
                          filterRes="0.5"
                          filterUnits="objectBoundingBox"
                        >
                          <feGaussianBlur stdDeviation="5" result="blurredImage"></feGaussianBlur>
                          <feComponentTransfer in="blurredImage" result="opaqueBlur">
                            <feFuncA type="table" tableValues="1 1 1 1"></feFuncA>
                          </feComponentTransfer>
                        </filter>
                        <clipPath id="lpmewtb33vfxys6h7x7">
                          <path
                            transform="matrix(1,0,0,1,307,194)"
                            d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                            clip-rule="nonzero"
                          ></path>
                        </clipPath>
                      </defs>
                      <g
                        transform="matrix(1,0,0,1,-307,-194)"
                        clip-path="url(#lpmewtb33vfxys6h7x7)"
                        style="filter: blur(5px)"
                      >
                        <g transform="matrix(1,0,0,1,0,0)">
                          <g id="2045:9" opacity="1" style="mix-blend-mode: normal">
                            <g>
                              <g>
                                <g transform="matrix(1,0,0,1,207,194)">
                                  <g id="2045:10" opacity="1" style="mix-blend-mode: normal">
                                    <g><g></g></g>
                                  </g>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                      <g>
                        <g id="2045:2" opacity="1" style="mix-blend-mode: normal">
                          <g>
                            <g>
                              <path
                                id="2045:2_fill_path"
                                d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                fill-rule="nonzero"
                                class="fill-white"
                                fill-opacity="0.5"
                                style="mix-blend-mode: NORMAL"

                              ></path>
                              <defs>
                                <clipPath id="2045:2_stroke_clip_path" clipPathUnits="userSpaceOnUse">
                                  <path
                                    d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                  ></path>
                                </clipPath>
                              </defs>
                              <g style="mix-blend-mode: NORMAL">
                                <g clip-path="url(#2045:2_stroke_clip_path)">
                                  <path
                                    id="2045:2_stroke_path"
                                    d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                    fill="none"
                                    class="stroke-white"
                                    stroke-width="2"
                                    stroke-linecap="butt"
                                    stroke-linejoin="miter"
                                    stroke-dasharray="0 0"
                                    stroke-opacity="0.5"
                                  ></path>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                    <g transform="matrix(1,0,0,1,300,0)">
                      <defs>
                        <filter
                          id="2045:3_backgroundBlur_0"
                          x="-100%"
                          y="-100%"
                          width="300%"
                          height="300%"
                          filterRes="0.5"
                          filterUnits="objectBoundingBox"
                        >
                          <feGaussianBlur stdDeviation="5" result="blurredImage"></feGaussianBlur>
                          <feComponentTransfer in="blurredImage" result="opaqueBlur">
                            <feFuncA type="table" tableValues="1 1 1 1"></feFuncA>
                          </feComponentTransfer>
                        </filter>
                        <clipPath id="lpmewtb3bmjwbl4713">
                          <path
                            transform="matrix(1,0,0,1,507,194)"
                            d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                            clip-rule="nonzero"
                          ></path>
                        </clipPath>
                      </defs>
                      <g
                        transform="matrix(1,0,0,1,-507,-194)"
                        clip-path="url(#lpmewtb3bmjwbl4713)"
                        style="filter: blur(5px)"
                      >
                        <g transform="matrix(1,0,0,1,0,0)">
                          <g id="2045:9" opacity="1" style="mix-blend-mode: normal">
                            <g>
                              <g>
                                <g transform="matrix(1,0,0,1,207,194)">
                                  <g id="2045:10" opacity="1" style="mix-blend-mode: normal">
                                    <g><g></g></g>
                                  </g>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                      <g>
                        <g id="2045:3" opacity="1" style="mix-blend-mode: normal">
                          <g>
                            <g>
                              <path
                                id="2045:3_fill_path"
                                d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                fill-rule="nonzero"
                                class="fill-white"
                                fill-opacity="0.5"
                                style="mix-blend-mode: NORMAL"
                              ></path>
                              <defs>
                                <clipPath id="2045:3_stroke_clip_path" clipPathUnits="userSpaceOnUse">
                                  <path
                                    d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                  ></path>
                                </clipPath>
                              </defs>
                              <g style="mix-blend-mode: NORMAL">
                                <g clip-path="url(#2045:3_stroke_clip_path)">
                                  <path
                                    id="2045:3_stroke_path"
                                    d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                    fill="none"
                                    class="stroke-white"
                                    stroke-width="2"
                                    stroke-linecap="butt"
                                    stroke-linejoin="miter"
                                    stroke-dasharray="0 0"
                                    stroke-opacity="0.5"
                                  ></path>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                    <g transform="matrix(1,0,0,1,400,174)">
                      <defs>
                        <filter
                          id="2045:6_backgroundBlur_0"
                          x="-100%"
                          y="-100%"
                          width="300%"
                          height="300%"
                          filterRes="0.5"
                          filterUnits="objectBoundingBox"
                        >
                          <feGaussianBlur stdDeviation="5" result="blurredImage"></feGaussianBlur>
                          <feComponentTransfer in="blurredImage" result="opaqueBlur">
                            <feFuncA type="table" tableValues="1 1 1 1"></feFuncA>
                          </feComponentTransfer>
                        </filter>
                        <clipPath id="lpmewtb4z2e90mz6nae">
                          <path
                            transform="matrix(1,0,0,1,607,368)"
                            d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                            clip-rule="nonzero"
                          ></path>
                        </clipPath>
                      </defs>
                      <g
                        transform="matrix(1,0,0,1,-607,-368)"
                        clip-path="url(#lpmewtb4z2e90mz6nae)"
                        style="filter: blur(5px)"
                      >
                        <g transform="matrix(1,0,0,1,0,0)">
                          <g id="2045:9" opacity="1" style="mix-blend-mode: normal">
                            <g>
                              <g>
                                <g transform="matrix(1,0,0,1,207,194)">
                                  <g id="2045:10" opacity="1" style="mix-blend-mode: normal">
                                    <g><g></g></g>
                                  </g>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                      <g>
                        <g id="2045:6" opacity="1" style="mix-blend-mode: normal">
                          <g>
                            <g>
                              <path
                                id="2045:6_fill_path"
                                d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                fill-rule="nonzero"
                                class="fill-white"
                                fill-opacity="0.5"
                                style="mix-blend-mode: NORMAL"
                              ></path>
                              <defs>
                                <clipPath id="2045:6_stroke_clip_path" clipPathUnits="userSpaceOnUse">
                                  <path
                                    d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                  ></path>
                                </clipPath>
                              </defs>
                              <g style="mix-blend-mode: NORMAL">
                                <g clip-path="url(#2045:6_stroke_clip_path)">
                                  <path
                                    id="2045:6_stroke_path"
                                    d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                    fill="none"
                                    class="stroke-white"
                                    stroke-width="2"
                                    stroke-linecap="butt"
                                    stroke-linejoin="miter"
                                    stroke-dasharray="0 0"
                                    stroke-opacity="0.5"
                                  ></path>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                    <g transform="matrix(1,0,0,1,300,348)">
                      <defs>
                        <filter
                          id="2045:5_backgroundBlur_0"
                          x="-100%"
                          y="-100%"
                          width="300%"
                          height="300%"
                          filterRes="0.5"
                          filterUnits="objectBoundingBox"
                        >
                          <feGaussianBlur stdDeviation="5" result="blurredImage"></feGaussianBlur>
                          <feComponentTransfer in="blurredImage" result="opaqueBlur">
                            <feFuncA type="table" tableValues="1 1 1 1"></feFuncA>
                          </feComponentTransfer>
                        </filter>
                        <clipPath id="lpmewtb4u9280d1m5e">
                          <path
                            transform="matrix(1,0,0,1,507,542)"
                            d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                            clip-rule="nonzero"
                          ></path>
                        </clipPath>
                      </defs>
                      <g
                        transform="matrix(1,0,0,1,-507,-542)"
                        clip-path="url(#lpmewtb4u9280d1m5e)"
                        style="filter: blur(5px)"
                      >
                        <g transform="matrix(1,0,0,1,0,0)">
                          <g id="2045:9" opacity="1" style="mix-blend-mode: normal">
                            <g>
                              <g>
                                <g transform="matrix(1,0,0,1,207,194)">
                                  <g id="2045:10" opacity="1" style="mix-blend-mode: normal">
                                    <g><g></g></g>
                                  </g>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                      <g>
                        <g id="2045:5" opacity="1" style="mix-blend-mode: normal">
                          <g>
                            <g>
                              <path
                                id="2045:5_fill_path"
                                d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                fill-rule="nonzero"
                                class="fill-white"
                                fill-opacity="0.5"
                                style="mix-blend-mode: NORMAL"
                              ></path>
                              <defs>
                                <clipPath id="2045:5_stroke_clip_path" clipPathUnits="userSpaceOnUse">
                                  <path
                                    d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                  ></path>
                                </clipPath>
                              </defs>
                              <g style="mix-blend-mode: NORMAL">
                                <g clip-path="url(#2045:5_stroke_clip_path)">
                                  <path
                                    id="2045:5_stroke_path"
                                    d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                    fill="none"
                                    class="stroke-white"
                                    stroke-width="2"
                                    stroke-linecap="butt"
                                    stroke-linejoin="miter"
                                    stroke-dasharray="0 0"
                                    stroke-opacity="0.5"
                                  ></path>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                    <g transform="matrix(1,0,0,1,100,348)">
                      <defs>
                        <filter
                          id="2045:4_backgroundBlur_0"
                          x="-100%"
                          y="-100%"
                          width="300%"
                          height="300%"
                          filterRes="0.5"
                          filterUnits="objectBoundingBox"
                        >
                          <feGaussianBlur stdDeviation="5" result="blurredImage"></feGaussianBlur>
                          <feComponentTransfer in="blurredImage" result="opaqueBlur">
                            <feFuncA type="table" tableValues="1 1 1 1"></feFuncA>
                          </feComponentTransfer>
                        </filter>
                        <clipPath id="lpmewtb4n4yrvmfjiq">
                          <path
                            transform="matrix(1,0,0,1,307,542)"
                            d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                            clip-rule="nonzero"
                          ></path>
                        </clipPath>
                      </defs>
                      <g
                        transform="matrix(1,0,0,1,-307,-542)"
                        clip-path="url(#lpmewtb4n4yrvmfjiq)"
                        style="filter: blur(5px)"
                      >
                        <g transform="matrix(1,0,0,1,0,0)">
                          <g id="2045:9" opacity="1" style="mix-blend-mode: normal">
                            <g>
                              <g>
                                <g transform="matrix(1,0,0,1,207,194)">
                                  <g id="2045:10" opacity="1" style="mix-blend-mode: normal">
                                    <g><g></g></g>
                                  </g>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                      <g>
                        <g id="2045:4" opacity="1" style="mix-blend-mode: normal">
                          <g>
                            <g>
                              <path
                                id="2045:4_fill_path"
                                d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                fill-rule="nonzero"
                                class="fill-white"
                                fill-opacity="0.5"
                                style="mix-blend-mode: NORMAL"
                              ></path>
                              <defs>
                                <clipPath id="2045:4_stroke_clip_path" clipPathUnits="userSpaceOnUse">
                                  <path
                                    d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                  ></path>
                                </clipPath>
                              </defs>
                              <g style="mix-blend-mode: NORMAL">
                                <g clip-path="url(#2045:4_stroke_clip_path)">
                                  <path
                                    id="2045:4_stroke_path"
                                    d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                    fill="none"
                                    class="stroke-white"
                                    stroke-width="2"
                                    stroke-linecap="butt"
                                    stroke-linejoin="miter"
                                    stroke-dasharray="0 0"
                                    stroke-opacity="0.5"
                                  ></path>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                    <g transform="matrix(1,0,0,1,0,174)">
                      <defs>
                        <filter
                          id="2045:8_backgroundBlur_0"
                          x="-100%"
                          y="-100%"
                          width="300%"
                          height="300%"
                          filterRes="0.5"
                          filterUnits="objectBoundingBox"
                        >
                          <feGaussianBlur stdDeviation="5" result="blurredImage"></feGaussianBlur>
                          <feComponentTransfer in="blurredImage" result="opaqueBlur">
                            <feFuncA type="table" tableValues="1 1 1 1"></feFuncA>
                          </feComponentTransfer>
                        </filter>
                        <clipPath id="lpmewtb4nyyxec6alkn">
                          <path
                            transform="matrix(1,0,0,1,207,368)"
                            d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                            clip-rule="nonzero"
                          ></path>
                        </clipPath>
                      </defs>
                      <g
                        transform="matrix(1,0,0,1,-207,-368)"
                        clip-path="url(#lpmewtb4nyyxec6alkn)"
                        style="filter: blur(5px)"
                      >
                        <g transform="matrix(1,0,0,1,0,0)">
                          <g id="2045:9" opacity="1" style="mix-blend-mode: normal">
                            <g>
                              <g>
                                <g transform="matrix(1,0,0,1,207,194)">
                                  <g id="2045:10" opacity="1" style="mix-blend-mode: normal">
                                    <g><g></g></g>
                                  </g>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                      <g>
                        <g id="2045:8" opacity="1" style="mix-blend-mode: normal">
                          <g>
                            <g>
                              <path
                                id="2045:8_fill_path"
                                d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                fill-rule="nonzero"
                                class="fill-white"
                                fill-opacity="0.5"
                                style="mix-blend-mode: NORMAL"
                              ></path>
                              <defs>
                                <clipPath id="2045:8_stroke_clip_path" clipPathUnits="userSpaceOnUse">
                                  <path
                                    d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                  ></path>
                                </clipPath>
                              </defs>
                              <g style="mix-blend-mode: NORMAL">
                                <g clip-path="url(#2045:8_stroke_clip_path)">
                                  <path
                                    id="2045:8_stroke_path"
                                    d="M400,200c0,110.46 -89.54,200 -200,200c-110.46,0 -200,-89.54 -200,-200c0,-110.46 89.54,-200 200,-200c110.46,0 200,89.54 200,200z"
                                    fill="none"
                                    class="stroke-white"
                                    stroke-width="2"
                                    stroke-linecap="butt"
                                    stroke-linejoin="miter"
                                    stroke-dasharray="0 0"
                                    stroke-opacity="0.5"
                                  ></path>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
    </g>
    <animateTransform
      href="#2045:10"
      attributeName="transform"
      type="rotate"
      values="0 400 374;0 400 374;60 400 374;60 400 374;120 400 374;120 400 374"
      dur="10s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.28;0.48;0.78;0.98;1"
      keySplines="0.42 0 0.2512 1;0.42 0 0.2512 1;0.5 0.35 0.2512 1;0.42 0 0.15 1;0.5 0.35 0.15 1"
      additive="sum"
      fill="freeze"
    ></animateTransform>
    <animateTransform
      href="#2045:10"
      attributeName="transform"
      type="translate"
      values="400 374;400 374;400 374;400 374;400 374"
      dur="10s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.3;0.5;0.8;1"
      keySplines="0.42 0 0.15 1;0.5 0.35 0.2512 1;0.42 0 0.15 1;0.5 0.35 0.15 1"
      additive="sum"
      fill="freeze"
    ></animateTransform>
    <animateTransform
      href="#2045:10"
      attributeName="transform"
      type="scale"
      values="1 1;1.5 1.5;1.5 1.5;1 1;1 1"
      dur="10s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.3;0.5;0.8;1"
      keySplines="0.42 0 0.15 1;0.5 0.35 0.2512 1;0.42 0 0.15 1;0.5 0.35 0.15 1"
      additive="sum"
      fill="freeze"
    ></animateTransform>
    <animateTransform
      href="#2045:10"
      attributeName="transform"
      type="translate"
      values="-400 -374;-400 -374;-400 -374;-400 -374;-400 -374"
      dur="10s"
      repeatCount="indefinite"
      calcMode="spline"
      keyTimes="0;0.3;0.5;0.8;1"
      keySplines="0.42 0 0.15 1;0.5 0.35 0.2512 1;0.42 0 0.15 1;0.5 0.35 0.15 1"
      additive="sum"
      fill="freeze"
    ></animateTransform>
    <animate
      href="#2045:2_fill_path"
      attributeName="fill"
      values="rgb(255, 255, 255;rgb(255, 255, 255;rgb(255, 255, 255;rgb(255, 255, 255;rgb(255, 255, 255"
      dur="10s"
      repeatCount="indefinite"
      keyTimes="0;0.3;0.5;0.8;1"
      fill="freeze"
    ></animate>
    <animate
      href="#2045:2_fill_path"
      attributeName="fill-opacity"
      values="0.5;0.3;0.3;0.5;0.5"
      dur="10s"
      repeatCount="indefinite"
      keyTimes="0;0.3;0.5;0.8;1"
      fill="freeze"
    ></animate>
    <animate
      href="#2045:3_fill_path"
      attributeName="fill"
      values="rgb(255, 255, 255;rgb(255, 255, 255;rgb(255, 255, 255;rgb(255, 255, 255;rgb(255, 255, 255"
      dur="10s"
      repeatCount="indefinite"
      keyTimes="0;0.3;0.5;0.8;1"
      fill="freeze"
    ></animate>
    <animate
      href="#2045:3_fill_path"
      attributeName="fill-opacity"
      values="0.5;0.3;0.3;0.5;0.5"
      dur="10s"
      repeatCount="indefinite"
      keyTimes="0;0.3;0.5;0.8;1"
      fill="freeze"
    ></animate>
    <animate
      href="#2045:6_fill_path"
      attributeName="fill"
      values="rgb(255, 255, 255;rgb(255, 255, 255;rgb(255, 255, 255;rgb(255, 255, 255;rgb(255, 255, 255"
      dur="10s"
      repeatCount="indefinite"
      keyTimes="0;0.3;0.5;0.8;1"
      fill="freeze"
    ></animate>
    <animate
      href="#2045:6_fill_path"
      attributeName="fill-opacity"
      values="0.5;0.3;0.3;0.5;0.5"
      dur="10s"
      repeatCount="indefinite"
      keyTimes="0;0.3;0.5;0.8;1"
      fill="freeze"
    ></animate>
    <animate
      href="#2045:5_fill_path"
      attributeName="fill"
      values="rgb(255, 255, 255;rgb(255, 255, 255;rgb(255, 255, 255;rgb(255, 255, 255;rgb(255, 255, 255"
      dur="10s"
      repeatCount="indefinite"
      keyTimes="0;0.3;0.5;0.8;1"
      fill="freeze"
    ></animate>
    <animate
      href="#2045:5_fill_path"
      attributeName="fill-opacity"
      values="0.5;0.3;0.3;0.5;0.5"
      dur="10s"
      repeatCount="indefinite"
      keyTimes="0;0.3;0.5;0.8;1"
      fill="freeze"
    ></animate>
    <animate
      href="#2045:4_fill_path"
      attributeName="fill"
      values="rgb(255, 255, 255;rgb(255, 255, 255;rgb(255, 255, 255;rgb(255, 255, 255;rgb(255, 255, 255"
      dur="10s"
      repeatCount="indefinite"
      keyTimes="0;0.3;0.5;0.8;1"
      fill="freeze"
    ></animate>
    <animate
      href="#2045:4_fill_path"
      attributeName="fill-opacity"
      values="0.5;0.3;0.3;0.5;0.5"
      dur="10s"
      repeatCount="indefinite"
      keyTimes="0;0.3;0.5;0.8;1"
      fill="freeze"
    ></animate>
    <animate
      href="#2045:8_fill_path"
      attributeName="fill"
      values="rgb(255, 255, 255;rgb(255, 255, 255;rgb(255, 255, 255;rgb(255, 255, 255;rgb(255, 255, 255"
      dur="10s"
      repeatCount="indefinite"
      keyTimes="0;0.3;0.5;0.8;1"
      fill="freeze"
    ></animate>
    <animate
      href="#2045:8_fill_path"
      attributeName="fill-opacity"
      values="0.5;0.3;0.3;0.5;0.5"
      dur="10s"
      repeatCount="indefinite"
      keyTimes="0;0.3;0.5;0.8;1"
      fill="freeze"
    ></animate>
  </svg>
}

<p class="flex align-middle justify-center text-black text-lg font-extralight">
  {{ text }}
</p>
