@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply !font-jakarta;
}

@layer components {
  .green-gradient {
    @apply bg-gradient-to-br from-green-400 from-10% via-green-500 via-70% to-green-600 dark:from-green-300 dark:via-green-400 dark:to-green-500;
  }

  .purple-gradient {
    @apply bg-gradient-to-br from-purple-400 from-10% via-purple-500 via-70% to-purple-600 dark:from-purple-300 dark:via-purple-400 dark:to-purple-500;
  }

  .orange-gradient {
    @apply bg-gradient-to-br from-orange-400 from-10% via-orange-500 via-70% to-orange-600 dark:from-orange-300 dark:via-orange-400 dark:to-orange-500;
  }

  .blue-gradient {
    @apply bg-gradient-to-br from-blue-400 from-10% via-blue-500 via-70% to-blue-600 dark:from-blue-300 dark:via-blue-400 dark:to-blue-500;
  }

  .shadow-inner-md {
    transition: all 0.4s ease-in-out !important;
    --tw-shadow: inset 0 0 6px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: inset 0 0 6px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    @media (prefers-color-scheme: dark) {
      --tw-shadow: inset 0 0 12px 0 rgb(0 0 0 / 0.05);
      --tw-shadow-colored: inset 0 0 12px 0 var(--tw-shadow-color);
    }
  }
}
