<div
  class="h-[100vh] w-full flex flex-col gap-16 justify-center items-center bg-gradient-to-br from-green-100 via-green-200 to-green-300 from-10% via-70% dark:from-green-800 dark:via-green-900 dark:to-green-950"
>
  <div
    class="bg-white bg-opacity-40 rounded-lg min-w-[5rem] min-h-[5rem] flex justify-center items-center"
  >
    <label
      class="text-gray-900 text-3xl"
      [ngClass]="timerValue < 6 ? 'animate-bounce' : ''"
      >{{ timerValue }}</label
    >
  </div>

  <div class="flex flex-col justify-center h-fit text-center gap-3">
    <div class="text-black text-lg font-extralight max-w-xl">
      {{ quoteText }}
    </div>
    <div class="text-black text-lg font-normal">{{ quoteAuthor }}</div>
  </div>

  <div class="m-3" (click)="closeBlockPage()">
    <button
      class="bg-white bg-opacity-40 !transition-all rotating-stroke text-gray-800 font-bold rounded-md border-b-2 border-purple-500 hover:border-purple-600 hover:bg-purple-500 hover:text-white shadow-md py-2 px-6 inline-flex items-center hover:shadow-purple-500 hover:shadow-2xl hover:scale-110 hover:transition-all delay-100"
    >
      <span class="mr-2 text-sm font-medium">Go Back</span>
      <svg
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M21 4a1 1 0 0 1 .993.883L22 5v6.5a3.5 3.5 0 0 1-3.308 3.495L18.5 15H5.415l3.292 3.293a1 1 0 0 1 .083 1.32l-.083.094a1 1 0 0 1-1.32.083l-.094-.083-5-5a1.011 1.011 0 0 1-.097-.112l-.071-.11-.054-.114-.035-.105-.025-.117-.007-.06L2 14l.003-.075.017-.126.03-.111.044-.111.052-.098.064-.092.083-.094 5-5a1 1 0 0 1 1.497 1.32l-.083.094L5.415 13H18.5a1.5 1.5 0 0 0 1.493-1.355L20 11.5V5a1 1 0 0 1 1-1Z"
          fill="currentcolor"
        />
      </svg>
    </button>
  </div>
</div>
