.animate-jump-custom {
  animation: jump 0.25s forwards ease-out;
}

@keyframes jump {
  0% {
    transform: scale(80%);
  }
  60% {
    transform: scale(105%);
  }
  100% {
    transform: scale(100%);
  }
}
