<section
  class="bg-white absolute left-0 top-0 z-20 h-full w-full bg-opacity-50 object-center"
  (click)="blockSelectedWebsites()"
  (keypress)="blockSelectedWebsites()"
  tabindex="0"
>
  <div class="animate-jump-custom mt-20 items-center justify-center">
    <div
      class="max-h-2xl bg-white mx-auto max-w-xl transform rounded-2xl bg-opacity-25 p-3 shadow-2xl ring-1 ring-gray-200 backdrop-blur-3xl backdrop-filter !transition-all dark:bg-gray-100 dark:ring-gray-800"
      (click)="$event.stopPropagation()"
      (keypress)="$event.stopPropagation()"
      tabindex="1"
    >
      <!--Search Bar-->
      <div
        class="bg-white relative flex items-center gap-2 rounded-lg bg-opacity-75 pl-3 !transition-all hover:scale-[1.01]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6 stroke-gray-950 dark:stroke-gray-50"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
          />
        </svg>

        <input
          (input)="onSearch()"
          [(ngModel)]="searchQuery"
          type="text"
          class="text-gray-800 h-12 w-full border-0 bg-transparent pr-4 placeholder-gray-400 focus:ring-0 sm:text-sm"
          placeholder="Type a website to get started"
          role="combobox"
          aria-expanded="false"
          aria-controls="options"
          #search
        />

        <!-- Clear Search -->
        @if (searchQuery.trim() !== "") {
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            aria-hidden="true"
            class="mr-3 size-6 cursor-pointer stroke-gray-950 dark:stroke-gray-50"
            (click)="onClear()"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        }
      </div>

      <!--Search Results-->
      <div class="mt-3 h-full max-h-[28rem] overflow-y-scroll rounded-md">
        <!-- No Results -->
        @if (
          searchService.suggestions.Results.length === 0 &&
          searchService.suggestions.Selected.length === 0 &&
          searchService.suggestions.Suggestions.length === 0
        ) {
          <app-search-animation></app-search-animation>
        }

        @for (category of searchService.suggestions | keyvalue: sortCategories; track $index) {
          <!-- Category Name -->
          @if (category.value.length > 0) {
            <h2 class="fade-up text-gray-900 mt-3 text-sm font-semibold !transition-all">
              {{ category.key }}
            </h2>
          }

          <!-- Category Results -->
          @for (website of category.value; track $index) {
            <ul class="mt-2">
              <li
                class="fade-up fade-up-delay-200 group flex cursor-default select-none items-center rounded-lg px-3 py-2 !transition-all"
                (click)="toggleWebsiteSelection(website)"
                (keypress)="toggleWebsiteSelection(website)"
                tabindex="3"
                [ngClass]="[
                  website.isSelected
                    ? 'text-green-800 bg-green-100/50'
                    : 'text-gray-700 hover:cursor-pointer hover:bg-gray-200/50',
                  website.isBlocked ? 'cursor-not-allowed' : ''
                ]"
              >
                <div class="flex w-4/5 items-baseline justify-start gap-3">
                  <span class="text-base font-normal">
                    {{ website.host }}
                  </span>

                  <span class="text-sm font-light">
                    {{ website.category }}
                  </span>
                </div>

                <!-- Added indicator -->
                @if (website.isBlocked) {
                  <span class="flex w-1/5 justify-end text-xs font-medium"> already added </span>
                }
                @if (website.isSelected) {
                  <div class="flex w-1/5 items-baseline justify-end">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      class="size-6 stroke-green-800"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                      />
                    </svg>
                  </div>
                }
              </li>
            </ul>
          }
        }
      </div>
    </div>
  </div>
</section>
