<div class="mt-2 min-w-full animate-fade-up animate-duration-500">
  <h1 class="text-gray-900 animate-fade-up text-lg font-semibold leading-6 animate-duration-500">Websites</h1>
  <div class="sm:flex sm:items-center">
    <div class="w-full animate-fade-up animate-duration-500 sm:flex-auto">
      <p class="text-gray-700 mt-2 w-full text-balance text-sm">
        For your wellbeing, some websites we identified as the most time-consuming cannot be removed from the list.
      </p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <div class="group relative flex flex-col items-center">
        <button
          (click)="toggleCommandPalette(true)"
          type="button"
          class="green-gradient text-white flex !transform items-center gap-2 rounded-lg stroke-white px-3 py-2 text-center text-base font-medium !transition-all hover:scale-105 hover:shadow-lg hover:shadow-green-200 dark:hover:shadow-green-800"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            class="size-6"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>

          Add new website
        </button>
        <div class="absolute bottom-full mb-2 hidden justify-center !transition-all group-hover:block">
          <div class="text-black bg-gray-200 rounded-full px-4 py-2 text-sm">{{ OS === "MacOS" ? "⌘" : "Ctrl" }} + K</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Table -->
  <div class="mt-5 flow-root animate-fade-up animate-delay-200 animate-duration-500">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div
          class="max-h-[30rem] overflow-scroll shadow ring-1 ring-gray-300 ring-opacity-5 sm:rounded-lg dark:ring-gray-700"
        >
          <table class="min-w-full divide-y-0 divide-gray-300 dark:divide-gray-700">
            <thead class="bg-green-500">
              <tr class="cursor-default *:text-white *:text-left *:text-sm *:font-semibold">
                <th scope="col" class="w-1/2 py-3.5 pl-5">Website</th>
                <th scope="col" class="w-1/6 py-3.5">Category</th>
                <th scope="col" class="w-1/6 py-3.5">Awareness Ratio</th>
                <th scope="col" class="w-1/6 py-3.5">Actions</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-300 overflow-scroll dark:divide-gray-700">
              <!-- User Websites -->
              @for (website of userWebsites; track $index) {
                <tr
                  app-highlighted-websites-row
                  [website]="website"
                  [isEnforced]="false"
                  [isPending]="websitesPendingEdit.has(website.host) || pendingChangesService.websitesToDelete.has(website.host)"
                  class="animate-fade-up animate-delay-[400ms] animate-duration-500"
                  [ngClass]="[
                    pendingChangesService.websitesToDelete.has(website.host) ? 'bg-red-50' : '',
                    websitesPendingEdit.has(website.host) ? 'bg-purple-50' : ''
                  ]"
                ></tr>
              }

              <!-- Enforced Websites -->
              @for (website of enforcedWebsites; track $index) {
                <tr
                  app-highlighted-websites-row
                  [website]="website"
                  [isEnforced]="true"
                  class="bg-gray-50 animate-fade-up animate-delay-[400ms] animate-duration-500"
                ></tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
